[2017-12-05 00:59] jflory7 commented on #404
@ct-martin Fair. What in MobArena made you file this? Did we officially declare support for Java 7 somewhere?

[2017-12-05 01:10] ct-martin commented on #404
pom.xml declares Java 7 for Maven

On Dec 4, 2017 7:59 PM, "Justin W. Flory" <notifications@github.com> wrote:

[2017-12-05 01:11] ct-martin commented on #406
I'm going to say end of next week as my initial estimate based on my
unfamiliarity with the codebase.

On Dec 4, 2017 6:40 PM, "Justin W. Flory" <notifications@github.com> wrote:

[2017-12-05 01:12] ct-martin commented on #407
I can do this, it *should* (I say now) be quick to do.

On Dec 4, 2017 6:37 PM, "Justin W. Flory" <notifications@github.com> wrote:

[2017-12-05 01:15] ct-martin commented on #396
@jflory as I tried highlight in my comment this issue is a request for a
feature to see who has a ready status for the arena, not a  replacement for
the iron block is. I would request reopening of the issue.

On Dec 4, 2017 6:35 PM, "Justin W. Flory" <notifications@github.com> wrote:

[2017-12-05 01:21] jflory7 commented on #396
@ct-martin Oh, I see. It's unclear to me what @Oruss7 is asking for, though. I'd prefer to see this filed as a new issue using the template. That will make it easier for us to understand and think through.

[2017-12-05 01:22] jflory7 commented on #404
#410 addresses this issue. Removing `needs feedback` label and we can move any more discussion there.

[2017-12-05 03:28] ct-martin commented on #405
@jflory7 The reason I don't fill out the whole thing is that I figured it was simple enough since and it's also done w/ all the vanilla commands. Apparently I was wrong. Also, if I filled out the entire thing it would be about two browser windows long / 1.5pgs printed-ish (and that doesn't include comments).

[The API is here](https://hub.spigotmc.org/javadocs/bukkit/index.html?org/bukkit/command/

[2017-12-05 13:57] garbagemule commented on #404
So the main issue we have in the Java world is that we aren't in control of the end user JRE. It took Java 6 being EOL for months before Minecraft itself was bumped to 7, and until then, I kept seeing 6 reported for over 40 % (!!) of all servers running MobArena on mcstats. Since we don't have these metrics anymore, it's really hard to tell how many people are effectively running on 7 - even if it

[2017-12-05 21:53] garbagemule commented on #407
Be aware that there's a chance you'll "need to" copy/paste some class chest logic. I don't recall if I ever refactored that part out into a utility function or not. It's ugly. Here be dragons.

[2017-12-05 22:16] garbagemule commented on #406
I would very much prefer one of two approaches to this. Both approaches split the task into multiple sub-tasks, and that's because I want to promote a workflow around the Single Responsibility Principle. This is something people often think about in terms of software architecture, but it can be applied in many other areas, e.g. issues (small, coherent tasks) and commits (small, coherent sub-tasks)

[2017-12-05 22:19] garbagemule commented on #408
I tried looking through the wiki, and edit mode is actually not documented anywhere. I think it used to be explained either in the tutorial video or somewhere else, but it's completely gone now it seems.

I'm not sure there is a specific need to compare them, but there's massive room for improvement in usability. Edit mode is somewhat pervasive in the arena listeners in the code base, but essentia

[2017-12-06 08:06] garbagemule commented on #406
... and it looks like we have a very clear starting point: https://www.spigotmc.org/threads/minecraft-1-13-what-to-expect.288714/

Block type IDs and scoreboards it is! :P

[2017-12-07 12:41] MetalGearDaner opened #411 "About gamemode 3 for spectators"
# Summary

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [X] Question
* **Describe the issue / feature in 1-2 sentences**: Is there any way to replace the spectator region for gamemode 3 so that spectators can watch the game with more move freedom?

# Background

### Feature request

* **Feature type**:
    * [ ] Arena

[2017-12-07 13:23] jflory7 commented on #411
Hi @MetalGearDaner! Thanks for filing a new issue on MobArena.

@ct-martin mentioned the same idea in an old ticket, #213. I guess we need to figure out if the spectator area is still helpful or not. Forcing spectator mode, as I see it, makes the spectator areas pointless, since anyone can fly through walls.

Does that sound right to you too, @MetalGearDaner? Or do you still think a spectator area

[2017-12-07 13:30] jflory7 commented on #405
It's better to assume less of your reader than more. In this case, both garbagemule and I didn't know about the API. If you don't want to spend a lot of time explaining, linking to a reference or other reading material is helpful rather than making the project maintainer(s) dig for it.

It might seem like a silly thing, but I'm adamant about this because we, as core contributors, set the tone for

[2017-12-07 13:32] jflory7 commented on #395
@garbagemule I was thinking about this one – what if we echoed a player's message back in the chat window to them with a [MobArena] prefix for whatever they typed? To me, that makes it clear to a user that MobArena is interpreting everything you type, and if that's not what you want, it should be obvious to exit the isolated chat.

Thoughts?

[2017-12-07 17:07] ct-martin commented on #411
Personally I think it's useful  to prevent spectators from escaping the
arena. A movement event would be useful for this.

On Dec 7, 2017 8:23 AM, "Justin W. Flory" <notifications@github.com> wrote:

[2017-12-07 17:22] garbagemule commented on #213
Let's close this in favor of #411 to keep with the new template. Great suggestion, and it now seems like there is native support for this kind of thing.

[2017-12-07 17:22] #213 closed

[2017-12-07 17:35] garbagemule commented on #411
This is an awesome idea and definitely worth exploring! :)

For the sake of backwards compatibility, of course, the spectator area is still useful. My guess is that most people would prefer the gamemode, but I don't know enough about it to conduct a proper risk analysis of completely removing the spectator area in favor of the gamemode. Are the players completely incapable of pulling mob aggro, in

[2017-12-07 17:48] garbagemule commented on #395
This is a very simple problem at first glance, but consider chat plugins that change the message format. I see only three potential ways to solve this:

A. Ignore chat plugins. MobArena isolated chat becomes its own thing with only very basic formatting customization (in the form of the messenger prefix).
B. Make MobArena's isolated chat more customizable. This would require a survey of existing c

[2017-12-07 17:51] garbagemule commented on #404
I just realized that this is issue #404. It's funny because Java 7 isn't available anymore xD

[2017-12-07 20:29] MetalGearDaner commented on #411
That's the point guys. I personally think that the current spectator area may be useful, depending on how the arena is built and what kind of experience the designer of the arena wants for its players. But definately a gamemode 3 for spectators would be very "powerful" and enjoyable for the dead players that haven't survived on the arena :(.

I agree with @garbagemule about the PlayerMoveEvent, it

[2017-12-07 21:31] garbagemule commented on #411
So I think that this is actually an excellent opportunity to revisit the setup process and its requirements. If we can implement well-defined, rock solid behavior with the spectator gamemode, it can just be the default configuration, if a spectator warp has not been set. And then there has to be a way to clear the spectator warp as well, of course.

@MetalGearDaner Thanks for taking the time to ge

[2017-12-07 21:42] ct-martin commented on #411
Is a warp isn't set, what about having the player get put where they died?
Also, I checked, and spectator mode is 1.8 so in that regard there isn't
much of a backward compatibility issue.

On Dec 7, 2017 4:31 PM, "garbagemule" <notifications@github.com> wrote:

So I think that this is actually an excellent opportunity to revisit the
setup process and its requirements. If we can implement well-defi

[2017-12-08 02:15] Chewsterchew commented on #411
Mind if I chime in? Thanks.

I kinda like what Mineplex did with their spectating.

Here's my proposition. When you die, you stay in the arena (as if you didn't die), but you enter vanish mode, and can't interact with anything and nothing can interact with you, if the arena is configured, you can also fly.
When you right-click on a user, you enter spectator mode for them, left clicking spectates a

[2017-12-08 02:17] ct-martin commented on #411
@Chewsterchew that's called spectator mode ;)
It's an actual gamemode like creative, survival, and adventure

[2017-12-08 02:18] Chewsterchew commented on #411
I mean, yeah. "You enter **spectator mode** _for them_"

[2017-12-08 02:20] ct-martin commented on #411
@garbagemule another random thought to consider - catch and cancel the PlayerDeathEvent, display a message, and then put them as a spectator

[2017-12-08 02:21] ct-martin commented on #411
@Chewsterchew I meant the whole deal is part of spectator mode - vanishing, flying, no interacting, noclip, etc.

[2017-12-08 15:01] jflory7 commented on #411
Thanks. Just to help give you a realistic expectation, we're in the process of what will be a months-long process to bring new life into this project. We can't promise a quick implementation, but this feedback is super helpful for us as we move forward with coming up with plans for new releases.

[2017-12-08 15:04] jflory7 commented on #395
@garbagemule Options B and C seem like costlier methods. I would opt for Option A because I think it's the least expensive option for developer time and resources, and I see the benefits for all three options as roughly the same.

[2017-12-08 18:41] Oruss7 commented on #396
I was asking for `/ma ready` command. But anyway, i track #407  now.

Thanks.

[2017-12-10 22:00] danielgarciagarcia opened #412 "Custom distance from spawnpoint to be activated"
# Summary

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:  This feature consist on a simple config option to customize the necessary distance between a spawnpoint and a player to be activated and spawn mobs per arena.

# Background

### Feature request

*

[2017-12-10 22:11] jflory7 commented on #412
If I understand right, this is about setting up spawnpoints in an area. I don't think you're asking for me, [since we can't go higher](https://mobarena.readthedocs.io/en/latest/user/arena-setup.html#spawnpoints), but it's an interesting idea to lower the radius.

@garbagemule Any idea if this is an easyfix or a difficult task?

[2017-12-10 22:43] MetalGearDaner commented on #412
Exactly, the idea is to make this value: "_MobArena only uses spawnpoints in a 15-block radius from any player_" as a variable per arena.

[2017-12-10 23:31] garbagemule commented on #412
So the reason we can't go *higher* is because of Minecraft/Spigot limitations. Basically, forcing a monster to target a player outside of a 16-block radius will cause the monster to freeze in place until A) the target player moves within the radius, or B) another player attacks the monster (and thus steals aggro from the other player). Historically, the only way to "fix" this problem is to bypass

[2017-12-11 01:13] MetalGearDaner commented on #412
What do you mean with this?

[2017-12-11 09:03] garbagemule commented on #412
@MetalGearDaner Currently, the algorithm for finding spawnpoints for a wave is a very naive check: "is there a player within 15 blocks of this spawnpoint? if so, it is a valid spawnpoint". The check does not take any kind of context into account, which is ultimately the problem we wish to solve. The context we want to solve for is "map awareness".

One way to do this is to introduce an extra check

[2017-12-11 23:25] MetalGearDaner commented on #412
Hmm, I guess the best fix then would be to design an algorithm that takes in account the path that the mob may have to follow to get to the player. At least, setting a maximum ammount of blocks for that path to be valid. So A* seems to be an excellent idea for this!

[2017-12-12 20:55] jwflory opened #414 "Modernize all existing documentation"
# Summary

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [X] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**: Update all documentation for the new [ReadTheDocs site](https://mobarena.readthedocs.io/en/latest/), modernize documentation for current codebase where needed

# Background

**What does it do?**: I

[2017-12-12 23:16] MetalGearDaner opened #415 "Give the fall kill to player that hit the last"
# Summary

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**: When mobs die by fall, fire, etc, give the kill to the last player that has hit the mob.

# Background

### Feature request

* **Feature type**:
    * [ ] Arena configuration
    * [ ] Classes

[2017-12-24 20:16] TheIntelloBox opened #417 "Put a name for the mobs in the waves."
Hello ! :D

I want to add names for the mobs in the waves, could I ?

Thanks !

[2017-12-25 22:41] jflory7 commented on #417
@TheIntelloBox Thanks for filing a new issue, but it helps the developer team if you use the template. Could you please use the template and file a new feature request? Thanks!

[2017-12-25 22:41] #417 closed

[2017-12-26 20:06] ct-martin commented on #415
@garbagemule can you confirm whether MobArena has special handling for this, or whether it's using MC's detection

[2017-12-26 20:19] ct-martin commented on #388
@Kryzomine The [documentation](https://mobarena.readthedocs.io/) has been recently made much easier to read, could you please try following the new(er) version and see if it works for you? If you're still having this issue, [you can find us in a couple places](https://github.com/garbagemule/MobArena#getting-help) (if we're available), but if that doesn't work could you please resubmit this with th

[2017-12-26 20:19] #388 closed

[2017-12-26 20:25] ct-martin opened #418 "Update links to new docs"
# Summary

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [x] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:

Links on GitHub, DBO, & SpigotMC all point to the GH wiki, they should point to the new ReadTheDocs URL instead.

# Background

### Feature request

* **Feature type**:
    * [ ] Arena configurati

[2017-12-26 20:27] ct-martin commented on #392
@Andrey228322 Thanks for filing an issue, but it helps the developer team if you use the new template. Could you please use the template and file a new feature request? Thanks!

[2017-12-26 20:27] #392 closed

[2017-12-26 20:30] ct-martin commented on #392
See also #385

[2017-12-26 20:32] ct-martin commented on #378
@dadee971 Hello, it's been a while since this issue was commented on, so if this issue is still relevant please comment and tag me (with the @) so I can repoen it. Thanks!

[2017-12-26 20:32] #378 closed

[2017-12-26 20:34] ct-martin commented on #372
@garbagemule @jflory7 does a note in the docs to use single quotes (& updating the default file to match) seem acceptable to you?

[2017-12-26 20:37] ct-martin commented on #369
@Zoneman1972 Hello, it's been a while since this issue was commented on, so if this issue is still relevant please comment and tag me (with the @) so I can repoen it. Thanks!

[2017-12-26 20:37] #369 closed

[2017-12-26 20:38] ct-martin commented on #367
@Pugabyte Hello, it's been a while since this issue was commented on, so if this issue is still relevant please comment and tag me (with the @) so I can repoen it. Thanks!

[2017-12-26 20:40] ct-martin commented on #387
Duplicate of #366

[2017-12-26 20:40] #387 closed

[2017-12-26 20:43] ct-martin commented on #359
Renamed issue to be more clear. (From `[BUG]Custom zombies, creepers, etc. are despawns always` to `Add support for mobs from Forge mods`)

@garbagemule (at a glance) would MobArena be doing anything to validate mobs, is this a config parsing thing, or something else?

[2017-12-26 20:55] ct-martin commented on #320
Cross-referencing #395

[2017-12-26 20:59] ct-martin commented on #283
Duplicate of #162

[2017-12-26 20:59] #283 closed

[2017-12-26 21:04] ct-martin commented on #274
@Synida Hello, it's been a while since this issue was commented on, if this issue is still relevant please comment and tag me (with the @) so I can repoen it. Thanks!

[2017-12-26 21:04] #274 closed

[2017-12-26 21:05] ct-martin commented on #273
Hello, it's been a while since this issue was commented on, if this issue is still relevant please comment and tag me (with the @) so I can repoen it. Thanks!

[2017-12-26 21:05] #273 closed

[2017-12-26 21:06] ct-martin commented on #271
@DiscoveriesMC Hello, it's been a while since this issue was commented on, if this issue is still relevant please comment and tag me (with the @) so I can repoen it. Thanks!

[2017-12-26 21:06] #271 closed

[2017-12-26 21:07] ct-martin commented on #264
Closing in favor of #412 which has a more complete discussion of the issue.

[2017-12-26 21:07] #264 closed

[2017-12-26 21:11] ct-martin commented on #260
Adding for additional reference, #412

[2017-12-26 21:13] ct-martin commented on #255
@Chakyl @StillSwingin @Sikatsu Hello, it's been a while since this issue was commented on, if this issue is still relevant please comment and tag me (with the @) so I can repoen it. Thanks!

[2017-12-26 21:13] #255 closed

[2017-12-27 00:05] garbagemule commented on #415
MobArena only checks for shooters/owners, so if the killer entity is a projectile or a pet, the shooter or owner will get the kill.

The logic sits in ArenaListener#onMonsterDeath.

[2017-12-27 00:16] garbagemule commented on #372
This has nothing to do with MobArena. It is entirely a "feature" of the YAML format and/or the snakeyaml parser. People typically run into these kinds of issues because of one lousy little symbol, or because of a combination of symbols that work "in a string" but not when they appear as bare values.

A perfect example is MobArena's item syntax. The string `I have 301:10 potatoes` is fine, but the

[2017-12-27 00:44] garbagemule commented on #359
Right, so what happens during initialization is that MobArena wraps all the values of the EntityType enum in instances of the MACreature class, right about here: https://github.com/garbagemule/MobArena/blob/master/src/main/java/com/garbagemule/MobArena/waves/MACreature.java#L28-L35

This (the move from enum to class) was done in order to support custom entities in Cauldron. I had a long test sessi

[2017-12-27 04:02] RainOfPain125 opened #419 "Player dies by explosion but isn't removed from arena"
* MobArena version: Latest
* Server version: Latest version of Paper Spigot git-Paper-1286
* Plugins:
AutoSave, BlowableObsidians, BookUtils, CFD, Citizens, CombatLogX, CompatNoCheatPlus, CoreProtect, CrazyCrates, Essentials, EssentialsChat, FactionChat, Factions, HolographicDisplays, LuckPerms, MassiveCore, mcMMO, MessageAnnouncer, MobArena, Multiverse-Core, NoCheatPlus, OldCombatMechanics, Orebf

[2017-12-27 04:51] ct-martin commented on #419
@RainOfPain125 do you have any plugins/configs that might be changing the
creeper blast size or creeper damage? The messages from MobArena are likely
just the normal messages from when a player dies (they might just be an
effect rather than the cause).

On Dec 26, 2017 11:02 PM, "RainOfPain125" <notifications@github.com> wrote:

[2017-12-27 07:10] RainOfPain125 commented on #419
None of the plugins would do such a thing that I know of

[2017-12-27 13:36] garbagemule commented on #419
You'd be surprised at the kind of naughty stuff any given plugin will do to a poor, innocent explosion event. In a case like this, the most important troubleshooting step is to attempt to reproduce on an environment free of potential conflicts, i.e. with MobArena as the only installed plugin. If you can't reproduce it in a clean environment, it is a plugin conflict. If you can, it's a MobArena bug

[2017-12-30 00:52] upsidedownapple opened #420 "/ma leave not working"
# Summary

* This issue is a…
    * [X] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
when i join a arena and try to type /ma leave i get this error msg An internal error occured while attempting to peform this command

# Background

### Bug report

* **MobArena version**: 0.99
* **

[2017-12-30 03:54] ct-martin commented on #420
@garbagemule line 817, NPO in PlayerTeleportEvent. Line 954 another plugin gives a debug of "world must not be null"
Also, @jflory7, I think this was the same issue you were having that you haven't written a bug report for yet, could you verify?

[2017-12-31 00:35] upsidedownapple commented on #420
Thx fixed it

[2017-12-31 03:08] ct-martin commented on #420
@upsidedownapple could you tell us what fixed it for you? Thank you

[2017-12-31 21:55] upsidedownapple commented on #420
i did /ma setup and changed the exit world thats wht fixed it for me it was because i downloaded a custom config with a world its exit world was set to something different

[2017-12-31 21:56] #420 closed

[2017-12-31 21:58] ct-martin commented on #420
@upsidedownapple Thank you!
@garbagemule I'm going to file another issue for better handling of this error

[2017-12-31 22:02] ct-martin opened #421 "Clean error handling for worlds"
# Summary

* This issue is a…
    * [x] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
#420 found that there is no validation for arena exit world

# Background

### Bug report

* **MobArena version**: 0.99
* **Server version**: 1.12
* **Plugins**: N/A

**What does it do?**:
Adds val

[2017-12-31 22:03] ct-martin commented on #421
@garbagemule - cc/label:"needs feedback"

[2018-01-01 22:59] Pugabyte commented on #367
@ct-martin This issue still appears to be a problem. Here is the IRC log of the conversation me and @garbagemule
[code]

I took another look and it still refuses to work.

[2018-01-01 23:59] ct-martin commented on #367
@Pugabyte thanks for confirming that this is still relevant (we were cleaning the issue tracker). I'm reopening the issue, but it sounds like @garbagemule has a rough idea of the cause. Could you post a list of plugins? It would help in trying to figure out what might be doing spawn protection or something.

@jflory7 do the docs have a known issue page? If so, ^

[2018-01-02 00:20] Pugabyte commented on #367
I doubt this will be of much help... theres so many lol

`
PlugMan, AutomaticInventory, Murder, SimpleAPI, SidewaysLogFix, wget, AutoMessage, MinigameHandler, Chairs, ProtocolLib, CustomParticleEffects, bnCore, MVdWPlaceholderAPI, FastAsyncWorldEdit, PermissionsEx, FeatherBoard, WhatIs, Tab, ServerListPlus, PlaceholderAPI,
OneWayBlocks, InventoryChess, ActionBar, VoxelSniper, EditableSign, Alerts,

[2018-01-02 00:35] ct-martin commented on #367
@Pugabyte can you check the spawn section of your essentials config and see if it's set? Also, the server.properties is another likely place.

[2018-01-02 00:59] Pugabyte commented on #367
The server.properties spawn protection is off, and I know where it used to be, so that's not it.
The `Essentials/spawn.yml` is in a different world and different coordinates.

[2018-01-02 01:23] ct-martin commented on #367
@Pugabyte Thanks, I'll take a deeper look when I have a chance (off to bed soon).

[2018-01-02 20:33] JDittmerCOM opened #422 "Cant place armor stands in arena"
When i'm in my mobarena (edit mode), can i not place armor stands in the mob arena .. outside of the arena can i place armor stands.
Is it a bug or is it blocked in the plugin?

[2018-01-02 23:06] ct-martin commented on #422
@JDittmerCOM Thanks for filing a new issue, but it helps the developer team if you use the template. Could you please use the template and file a new feature request? Thanks!

[2018-01-02 23:06] #422 closed

[2018-01-05 01:03] ScuroK opened #423 "Per World Inventory is incompatible now"
Hey there.

The latest version of PerWorldInventory is incompatible with many minigame plugins like mobarena and creates bugs like loosing inventories. Unfortunately the developer of PWI is very slow responding and there is no working alternative like PWI.

The developer of paintball said he had to add PWI as soft-dependency to fix this.

Please see all the details here:
https://github.com/Gnat008

[2018-01-09 21:51] Jarpox opened #424 "Need Help with Lingering Potions and Enchantments ID ( sweeping edge)"
# Summary

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [X ] Other issue
    * [x ] Question
* **Describe the issue / feature in 1-2 sentences**: Please I need a list for enchantments (sweeping edge to be specific) and id for spectral arrows and lingering potions for my classes in the config. Thank you for the support, after days of search

[2018-01-13 22:03] Pugabyte opened #425 "Prevent killing self"
![](https://i.imgur.com/8wSJZQZ.png)

[2018-01-15 01:33] jflory7 commented on #425
@Pugabyte Thank you for filing an issue – however, you didn't use the template. The template is there because it asks important information to help us figure out why a bug happened. Please file a new issue using the template. Thanks!

[2018-01-15 01:33] #425 closed

[2018-01-15 01:40] jflory7 commented on #424
@Jarpox A list of all enchantments is [here](https://hub.spigotmc.org/javadocs/spigot/org/bukkit/enchantments/Enchantment.html) in the Spigot documentation.

We will have a page with new info with our documentation too (will be [here](https://mobarena.readthedocs.io/en/latest/user/item-reward-syntax.html)). A "preview" of it, with the correct info, is [here](https://github.com/CrystalCraftMC/MobAr

[2018-01-15 01:40] #424 closed

[2018-01-15 01:42] jflory7 commented on #418
Nice catch. I think once all of our docs are updated, we can move forward with this. I'm assigning it to me for now. Once #414 is closed, this one can be unblocked.

[2018-01-15 01:44] jflory7 commented on #419
@RainOfPain125 Were you able to re-test this in a clean server with no other plugins?

[2018-01-15 21:54] garbagemule commented on #419
@RainOfPain125 "Latest" is not very helpful. If you provide a version number, you literally remove all doubt. By saying "latest", you assume that you are on the most recent build of something, and you have no idea if that's true. I've had people tell me they were on the "latest" version of MobArena when in fact they were three versions and almost half a year of updates behind, and the issues they

[2018-01-18 20:13] RainOfPain125 commented on #423
To shine some light on this real quick

Me and my OP buddy lost our survival inventories. Here's the step by step way we did it

1 - Have stuff in your survival inventory
2 - Have stuff in your creative inventory
3 - Do /ma join while in creative
4 - Picked a kit
5 - Did /ma leave
6 - Creative inventory was wiped
7 - Survival inventory became the new creative inventory - wiping everything in the s

[2018-01-18 20:26] RainOfPain125 opened #426 "Faction & McMMO compatibility requests"
### Feature request

* **Feature type**:
    * [ ] Arena configuration
    * [ ] Classes
    * [ ] Documentation
    * [ ] Economy integration
    * [ ] Leaderboards
    * [ ] New config settings
    * [ ] Other (please explain)
    * [ ] Rewards
    * [X] Third-party plugin support

**What does it do?**: Add

1 - Support for factions, so that anyone that dies in the Arena does not loose faction p

[2018-01-20 14:00] Nesseley commented on #423
This has been around for years! Atleast since i found the creativeswitch bug in 2013.
The creative-inv switched is fixed by not letting people join mobarena from creative, or other worlds then the arena is in it self. This can easly be dine by setting the "max-join-distance:" in config.yml

[2018-01-21 13:26] Nesseley opened #427 "Reward for boss missing transelate."
* This issue is a…
    * [X] Bug report
    * [X] Feature request

The sentence: [MobArena] Player killed the boss and won: X $ is missing from the announcements.yml
Would be nice to be able to transelate this as well! :)

MobArena version 0.99

[2018-01-21 19:09] TheIntelloBox commented on #355
That would be great.

[2018-01-21 19:42] ct-martin commented on #367
@Pugabyte I got a chance to look through that list. My next suggestion to look at is the Multiverse world config and make sure the difficulty isn't set to peaceful

[2018-01-21 19:59] ct-martin commented on #426
@RainOfPain125 If you use separate worlds then this should be relatively easy. Factions allows you to specify worlds to be excluded from power loss in its config, and if you use a permissions plugin you should be able to use mcMMO's custom experience multiplier with <1 to diminish the amount of XP earned. Unfortunately, I don't know of an easy way to do this when the arena is in the same world.

@

[2018-01-21 20:02] ct-martin commented on #427
@Nesseley I'm confused as to what you're looking for. Could you please rephrase your request in a more verbose fashion? Also, you didn't follow the entire template, so I'm going to close this issue. Please make a new issue with the "Feature request" section included.

[2018-01-21 20:02] #427 closed

[2018-01-21 20:08] ct-martin commented on #423
@ScuroK @RainOfPain125 as @Nesseley and @Gnat008 indicated, the best way to deal with this is to have the arena in its own world and prevent the player from jumping worlds directly. I also recommend having your server put the player in the world they were previously in when they rejoin.

[2018-01-22 09:24] Nesseley opened #428 "Missing option to transelate a message."
* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question

* **Describe the issue / feature in 1-2 sentences**:
Missing transelate option for "Player killed the boss and won:" in announcements.yml
I want to transelate this message to Norwegian, but I can't as there is no option to change the message.

* **Feature type

[2018-01-22 18:03] GiraffeCubed opened #429 "Offhand TNT does not deplete"
MobArena classes with a limited amount of TNT can use infinite TNT if placed from the offhand. The TNT count regenerates shortly after placement.

* **MobArena version**: 0.99
* **Server version**: 1.12.2
* **Plugins**: MobArena

[2018-01-22 20:06] ct-martin commented on #429
@GiraffeCubed You only listed MobArena under plugins, is this to mean you *only* have MobArena installed and _absolutely nothing else_?

[2018-01-30 06:41] Pugabyte commented on #367
@ct-martin All MobArenas are in the same world, so that wouldn't be it. But just to confirm,
[code]

And while we're at it, since there's a spawn location in there, I made sure it's not near the arena:

[code]

[2018-01-31 00:50] ct-martin commented on #367
@Pugabyte according to that Multiverse config, the spawn is `117, 7, 415`. Can you check if that's near your arena? Depending on the plugin you use to manage the spawn it sometimes uses a config option to change the spawnpoint instead of the actual world data, I think you might be falling victim to that.

[2018-01-31 20:19] Pugabyte commented on #367
@ct-martin ![](https://i.imgur.com/lU10rLj.png) I already including that information in the previous comment

[2018-01-31 20:20] ct-martin commented on #367
@Pugabyte same ;)

[2018-01-31 20:22] Pugabyte commented on #367
Like I said, I already provided that information.

[2018-01-31 20:25] ct-martin commented on #367
@Pugabyte sorry, let me rephrase. There are two spawn points - one is a position that is coded into the actual data of the world (if you were to copy-paste the world into single player, that's where you would appear). The second kind is where a plugin has a config value that is used to make a virtual spawn point, similar to a warp, but is not the "true" spawn point of the world. Multiverse has the

[2018-01-31 20:34] Pugabyte commented on #367
![](https://i.imgur.com/lU10rLj.png)

I'm not sure how else to phrase this: I've already provided the location of my arena and made sure it's not near the multiverse spawn location. Additionally, I believe the coordinates are too far out to be default "singleplayer" spawn

[2018-01-31 20:39] ct-martin commented on #367
After talking with @Pugabyte, coordinates in the image are for MobArena, not a spawn plugin. I updated the original post of the configs for clarity.

[2018-01-31 20:44] ct-martin commented on #367
@Pugabyte My next best guess then is WorldGuard. Can you try making a WG region around your arena and setting the flag for spawning to true to test?

[2018-01-31 20:50] Pugabyte commented on #367
![](https://i.imgur.com/aT2nGGv.png) No luck

[2018-01-31 20:51] ct-martin commented on #367
I'm going to have to defer to @garbagemule then, sorry

[2018-02-01 09:17] garbagemule commented on #367
Hey guys,

If the arena works in another location, then it has to be a result of world configuration or a conflicting plugin. It's usually WorldGuard, and even though one flag might be set correctly and everything , I've seen "internal conflicts" in WorldGuard regions where just the fact that two regions overlap is enough to mess things up.

I think the most pragmatic approach forward is to try re

[2018-02-01 20:00] Pugabyte commented on #367
This the exact process I went through:
- Copied my entire server to a new directory.
- Removed all `.jar`s from `plugins` folder, except for MobArena.
- Edited `server.properties`, changed `port`, and changed `level-name` to the "gameworld" so that it would be the default world (since there is no Multiverse)
- Started and joined server
- Joined and started affected MobArena

No mobs spawned.

- Qu

[2018-02-01 20:11] Pugabyte commented on #367
So I continued to try to summon mobs, figuring out exactly where it stopped allowing me to spawn them. I found something very strange.

![](https://i.imgur.com/8Ee1BH2.png)

The area perfectly outlines the arena, as though it was a region (remember, no plugins besides MobArena are installed).

Even more interestingly, I compared this region to the positions stated in the configuration for the aren

[2018-02-01 21:57] Noahkiq commented on #367
could my test map be causing issues? my map seems to have the same regions

[2018-02-01 22:30] Pugabyte commented on #367
welp. cant believe it was that simple. that's the issue.

[2018-02-01 23:01] Noahkiq commented on #367
whoops.

i would keep this issue open though. maybe rename to "plugin not warning you if map regions are conflicting"

[2018-02-02 00:23] garbagemule commented on #367
Thanks for the investigative work, guys.

I don't think MobArena's xenophobia is mentioned anywhere in this issue, but MobArena will do _everything in its power_ to prevent mobs from spawning in its regions unless it, itself, is the spawn reason (which it can actually never be truly certain of). It is _never_ going to allow you to spawn mobs in its region if the arena isn't running, so it is very

[2018-03-03 00:34] hades200082 opened #430 "Only spawn mobs in line of sight"
# Summary

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:

I built a castle and set it up as a mob arena with this plugin.  I quickly found that players were having to hunt for mobs because they would spawn in rooms up to 15 blocks away even if there were

[2018-03-03 00:50] hades200082 opened #431 "Redstone doesn't work in lobby"
# Summary

* This issue is a…
    * [X] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:

I cannot use command blocks with /sudo in the lobby because when a player is in the arena lobby they cannot activate redstone.

If I go to the lobby myself, I can activate the redstone and command

[2018-03-04 16:37] Pugabyte opened #432 "Killer Bunnies temporarily froze server"
# Summary

* This issue is a…
    * [x] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
    Killer Bunnies in MA appear to have frozen the server.

    `_leroy > idk what happened but i ended up getting the actual death screen and then everything died`

    This only happened once, ab

[2018-03-04 16:39] Pugabyte opened #433 "Polar bear boss does not use boss health"
# Summary

* This issue is a…
    * [x] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**: We created a boss as a Polar Bear but it dies in just a few hits, even if the health is set to "psycho" in the config.

# Background

### Bug report

* **MobArena version**: 0.99.1-SNAPSHOT
* **Ser

[2018-03-04 16:44] GriffinCodes opened #434 "New boss ability modifier: "all""
# Summary

* This issue is a…
    * [ ] Bug report
    * [x] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**: Currently, the boss abilities like pull, throw, and disorient have three types: `nearby`, `distant` and `target`. I would like a fourth: `all`

# Background

### Feature request

* **Feature type**

[2018-03-04 16:46] Pugabyte opened #435 "MobArena config reload time is pretty high"
# Summary

* This issue is a…
    * [x] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**: The reload time of MobArena seems very high. Would it be possible to look into optimization for this? (It's possible it's just the size of [my config](https://github.com/Pugabyte/ServerFiles/blob/m

[2018-03-04 19:41] garbagemule commented on #431
Thanks for the bug report :)

This is likely a result of MobArena being overly strict. It's pretty strict about a lot of stuff. When unorthodox setups like this actually work, it's usually the result of an oversight or a deliberate exception to the strict rules.

IIRC, redstone actually counts as physics events, so maybe MobArena is cancelling such events in the lobby by default.

[2018-03-04 19:59] garbagemule commented on #430
Thanks for this feature request :)

The way MobArena finds spawnpoints is by looping through all spawnpoints and players, breaking the inner loop only if a player is in range of the spawnpoint. This results in an inefficient O(n*m) algorithm. It grows very quickly in time complexity if the number of spawnpoints and/or players is large and the statistical chance of a player being in range of a spaw

[2018-03-04 20:35] Pugabyte opened #436 "Iron Golems can't be damaged in MA"
# Summary

* This issue is a…
    * [x] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**: We tried putting an iron golem as a boss, and no one could damage it. Tried also making it a non-boss, just part of the waves, still couldn't damage it.

# Background

### Bug report

* **MobArena

[2018-03-15 09:31] Sikatsu opened #437 "Death Animation bug on spigot 1.12"
* This issue is a…
    * [x] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question

* **Describe the issue / feature in 1-2 sentences**:
If you die in the MobArena your character is bugging out even after you leave the MobArena: http://prntscr.com/irh3q8

Until I relog on the server I walk and play with the death animation.

* **MobArena vers

[2018-03-15 10:26] Sikatsu commented on #437
Turns out the death animation is stuck whenever you die. Even when you die with force /ma leave.

[2018-03-15 10:54] Sikatsu commented on #437
@garbagemule @slipcor

[2018-03-27 17:54] TheIntelloBox opened #438 "Using non-LivingEntity entity types throws exception on spawn and breaks the session"
* This issue is a…
    * [X] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:

### Bug report

* **MobArena version**:  0.98.1
* **Server version**:  Paper Spigot 1.12.2
* **Plugins**:

ERROR : When my players kill the boss, the mobs of the next waves don't spawn.
My config.yml :
https

[2018-04-03 23:28] Haileykins commented on #437
I have seen this myself, and I can't figure out what is causing it, I have tried to even turn off autorespawn yet still it happens, and nothing in the code obviously jumps out at me for how to remedy the issue.

[2018-04-03 23:35] Haileykins commented on #411
I'm actually currently working on just this! Instead of Gamemode 3 however (to prevent clipping and exiting the arena), I gave them invisibility and flight mode while in Spectator Mode, and also created a new method in monster managers that makes the mobs stop tracking you once you've died (since you re-spawn at your death point in the arena). Upon leaving your returned out of flight mode and your

[2018-04-04 19:59] jflory7 commented on #437
@Sikatsu Thank you for filing the issue. @Haileykins Thanks for also confirming it.

I marked it as a bug, but my ability to debug is limited. I am not aware of any major changes made in the last few releases that would trigger this, so I wonder if the bug is created by something new in Spigot.

Hopefully @garbagemule can offer debug advice here.

[2018-04-04 20:03] jflory7 commented on #411
@Haileykins What you detailed makes logical sense to me. I like the direction you are taking. :+1:

I'm not too savvy on the codebase, and @garbagemule is most qualified to give meaningful feedback. If you are interested, I can assign this issue to you while you work on it. When you make a pull request, I can take my hand on reviewing it (or try to wrap @ct-martin in on it).

Let me know if you wa

[2018-04-05 16:02] Haileykins commented on #437
@jflory7 much appriciated

[2018-04-05 16:04] Haileykins commented on #411
Your welcome to assign it to me officially if you would like, I'm not fully knowledgeable on GItHub so I don't know if I can/how I would make a second totally separate open pull request at the same time as my current one is open, but once that one is open, I can wrap this project up with a few simple clicks to create a new PR.

[2018-04-05 18:08] garbagemule commented on #411
The thing that makes gamemode 3 attractive is that it is natively supported. It's a vanilla mechanic that places the player in a state that isn't trivially replicated otherwise. It essentially boils down to low effort to implement, low maintenance cost, low risk of breakage, high functional reward, and high confidence in "bases covered" - everything you want in a feature implementation. Comparativ

[2018-04-05 21:03] Haileykins commented on #411
The issue I would like to propse regarding gamemode three is the current ability to exit the arena, clip through arena walls, and find possibly hidden architecture (Redstone, Harder To Find Chests, etc), that could impact gameplay by way of abusing the GameMode 3 System as an exploit rather than a feature, you can not natively remove clipping however that would be the most idea way to use the func

[2018-04-05 22:58] slipcor commented on #411
Bumping in because of notifications ^^

Running the risk of sounding like the grumpy old man telling you to "not become like him" - I very much was at the receiving end of this kind of breaking changes in my plugin PVP Arena.

If you design a self-written system that aims to emulate important logic like the existing spectator mode, you will run into issues the next time upstream changes things in

[2018-04-05 23:24] Haileykins commented on #411
@slipcor I appreciate your input however I'm a little confused by your intentions and meanings. I'm not trying to emulate spectator mode at all, this is a reverse-engineer of the way HyPixel runs their deaths in Bedwars. I have personally testing this continuously and (aside from the player laying down after respawn glitch that has been reported by many people) this implementation doesn't seem to

[2018-04-06 00:42] garbagemule commented on #411
Okay, let's dial the "sales pitch" back a notch and get back on track. But to stay at a meta-level of discussion, I'd like to call attention to three concepts: maintainability, breaking changes, and iterative software development.

---

Maintainability is often forgotten about when working on exciting new things. Neglecting it, however, has the potential to make a massive, negative impact on the v

[2018-04-06 01:09] slipcor commented on #411
I have been editing this post back and forth and now the mule was faster than me. I needed to go long ago so I will quickly state some things I still have to add.

I have to say I missed your writings, garbagemule - I would look like I am copying your points so I will redo my answer :D

* My intention is to make a point about using native methods that are low maintenance instead of reinventing the

[2018-04-06 03:40] Haileykins commented on #411
My apologies, I'm still new to devving things I didn't write to begin with, I will take a look at ways to prevent clipping

[2018-04-07 12:55] garbagemule commented on #437
I'll check up on this as the first thing I do when I dig back in at the end of April.

Thanks for reporting @Sikatsu and confirming @Haileykins :)

[2018-04-07 12:57] garbagemule commented on #438
Seems like the paste has expired.

Can you please provide some more information about what type of boss this is, how the players kill it, how long the fight lasts for? Your config-file and a server log of the entire session would be most helpful.

I can look into this by the end of April.

[2018-04-07 12:58] garbagemule commented on #436
That's a lot of plugins. Could I ask you to please confirm that this is a problem in vanilla MobArena as well?

I'll dig into this at the end of April.

[2018-04-07 13:03] garbagemule commented on #433
There's polar bears in Minecraft now? Cool.

This is likely a long-standing issue with Spigot's invasive max health settings. Can you try to change the max health of polar bears in the Spigot settings (I don't know how, I just know that you can) and see if that helps? Or maybe try with flat health values (just use numbers instead of the scaling health strings) from like 20 and upwards in various i

[2018-04-07 13:08] garbagemule commented on #434
Not a bad idea at all. Should be fairly easy to implement with the current setup, just a copy/paste and distance check removal for all applicable abilities.

I'll try to get this implemented by the end of April.

This is perhaps not a bad time to also dig through the boss "module" and gather some information about how it's used throughout the plugin to make way for a rework.

[2018-04-07 13:12] garbagemule commented on #435
I'm not entirely sure how the config-file reloading scales, but I assume it might actually have to do with the sizes of the arena regions. IIRC MobArena actually force ends all arenas on a config reload, which means all arenas have to run their clean up logic, which involves entity scans, which are pretty heavy.

It might also just be a matter of item parsing or something like that. Thanks for pro

[2018-04-07 13:31] TheIntelloBox commented on #438
https://hastebin.com/foyocaguce.scala

[2018-04-07 13:37] garbagemule commented on #438
Thanks for the config-file.

There are 9 boss waves in this configuration. Please provide as much of the previously requested information as you can, as it gives me a much better chance at actually fixing this. It's hard to debug something you know nothing about and can't reproduce.

[2018-04-07 13:44] garbagemule commented on #432
Hey Pugs. Has this happened again in the past month?

There's a long-standing issue with deaths/disconnects and the scoreboard manager, and it looks like that's the last place MobArena was doing anything before the crash. It's unlikely that MobArena would crash the server, because plugins are pretty well sandboxed. I think it's more likely that this is a host issue like memory or network.

[2018-04-07 13:45] garbagemule commented on #431
Into the April sweep we go!

[2018-04-07 13:48] garbagemule commented on #429
This is very likely an issue with the way MobArena "repairs" weapons. Should be possibly to prevent/verify with the auto repair option set to false on a class.

Obviously, TNT is not a weapon, so it shouldn't auto repair.

Welcome to the April sweep.

[2018-04-07 13:50] garbagemule commented on #428
Right you are, this isn't translated at all: https://github.com/garbagemule/MobArena/blob/master/src/main/java/com/garbagemule/MobArena/ArenaListener.java#L607

Good first issue. Welcome to the April sweep.

[2018-04-07 13:53] garbagemule commented on #423
Hey guys, thanks for the bug report and sorry for the crazy delay.

I think it is worth revisiting inventories in the April sweep. I'll see how far I can get on a possible workaround/fix for this. I'd like a full rewrite of the join/leave logic, but it might not be feasible this time around.

@RainOfPain125 Is this a purely one-world setup, or is creative and survival in different worlds? If so, w

[2018-04-07 13:54] TheIntelloBox commented on #438
https://pastebin.com/bacRQjK1

[2018-04-08 01:34] RainOfPain125 commented on #423
@garbagemule This was in the Nether. I have mutiverse and are using multiple worlds, but everything to do with mob arena was kept in the Nether. The world is by default survival.

[2018-04-08 09:12] Nesseley opened #442 "Enhancement - Skeletons are scared of the wolfs"
* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Set an option for skeletons to not be scared of wolf/dog.

### Feature request

* **Feature type**:
    * [X] Arena configuration
    * [ ] Classes
    * [ ] Documentation
    * [ ] Economy integration
    *

[2018-04-13 11:33] OffTheMeds opened #443 "MobArena version 0.99 (Flagged as ready)"
Mob arena is telling me that i am flagged as ready however nothing has happpened for 10 minutes now, also when i load class knight it claims an internal error has occured. Could someone please help?

Error Message:

java.util.concurrent.ExecutionException: java.lang.LinkageError: loader constraint violation: loader (instance of org/bukkit/plugin/java/PluginClassLoader) previously initiated loading

[2018-04-13 15:26] garbagemule commented on #443
LinkageErrors can usually be solved by restarting the server and making sure that the jar file is replaced properly before doing so. Your error has nothing to do with MobArena and everything to do with a "corrupt" or "invalid" runtime environment.

[2018-04-13 15:26] #443 closed

[2018-04-13 15:27] garbagemule commented on #443
For future reference, please follow the template instead of blindly copy/pasting stuff into the description field. Thanks.

[2018-04-18 15:59] TheIntelloBox commented on #438
Did you see the bug ?

[2018-04-18 16:04] garbagemule commented on #438
No, I'm still waiting for the details I previously asked.

I can't fix something I can't reproduce, and I can't reproduce something without detailed reproduction steps. Help me so I can help you.

[2018-04-18 18:55] TheIntelloBox commented on #438
What do you want exactly ? I'm on Java 8, Paper Spigot 1.12.2, latest version of MobArena.

[2018-04-18 18:56] garbagemule commented on #438
What I asked for in my first and second comments.

[2018-04-20 17:14] TheIntelloBox commented on #438
Could you send me your Discord or your Skype because I don't want to paste my plugins here.

[2018-04-20 19:41] garbagemule commented on #438
At any rate, you should try to reproduce the issue on a clean environment. Disable/remove all plugins and try to reproduce the issue. If you can't do it on your live server, make a local one that you can use just for troubleshooting.

Even without a list of plugins, there's still so much information you can provide that you haven't. Please re-read my comments. If there's something you don't unders

[2018-04-20 19:55] TheIntelloBox commented on #438
Did you check my config ?

[2018-04-20 20:13] garbagemule commented on #438
Yes, did you read my follow up questions?

[2018-04-20 20:38] garbagemule commented on #438
Okay, let me make it a little more explicit. This back-and-forth is pointless. I need information to help. I want to help, so I need information. I want the following questions answered before I spend any more time on this issue:

- Config-file (this has been provided already)
- Server log of the MobArena session. I don't want a full server log. I want a server log that starts when the first playe

[2018-04-20 22:11] garbagemule commented on #438
Well there is an error in the log that indicates an issue with what MobArena is trying to spawn. Your config file paste has expired. Please post it again. Maybe without an expiration time or with one that's longer.

[2018-04-21 07:57] TheIntelloBox commented on #438
https://pastebin.com/ufS5qxzZ

[2018-04-21 08:30] garbagemule commented on #438
Found it!

Line 587 in your config-file, you're using `evoker_fangs` as a possible mob type in the default wave. The "fangs" entity type is not a LivingEntity (a mob, basically), so MobArena breaks after trying to use it as one. Evoker fangs are entities that evokers generate during their fang attack. You should not use them as a mob.

So this is essentially the biggest problem with allowing every

[2018-04-21 08:32] garbagemule commented on #438
MACreature internally creates a map of entity names to MACreature instances from the values in the EntityType enum. It just so happens that EntityType has a `getEntityClass()` method that returns the class/interface for the spawned entity. By checking if `LivingEntity.isAssignableFrom(type.getEntityClass())` in the loop in MACreature, we should be able to completely avoid this kind of problem, fai

[2018-04-21 08:38] garbagemule commented on #438
Just in case the pastes expire again, here's the important bits snipped from the config-file and server log:

config-file (`evoker_fangs` as a monster type in a wave):

        waves:
          recurrent:
            def1:
              type: default
              priority: 1
              frequency: 1
              monsters:
                evoker_fangs: 3

stacktrace from server log:

    [23:06

[2018-04-21 09:49] garbagemule commented on #437
Forgot to add it to the sweep. It's in there now.

[2018-04-21 09:55] TheIntelloBox commented on #438
Thanks it works fine ! :D

[2018-04-21 17:57] TheIntelloBox opened #444 "No damage."
Hey,

https://hastebin.com/idicibezad.sql

On this map we don't take any damage. The mobs attack us but we don't lose hp. :D
Could you tell me what's the problem ? :D

Thanks ! :D

[2018-04-22 13:43] garbagemule commented on #435
So I just threw a couple of basic stopwatch statements into the reload command and where it seems to go. Here's the raw prints after an `ma config reload` from a freshly booted server with your config-file (changed all `gameworld` occurrences to `world` to match my setup):

    [14:13:59 INFO]: ConfigCommand start
    [14:14:00 INFO]:   ArenaMasterImpl#reloadConfig() start
    [14:14:00 INFO]:

[2018-04-22 14:01] garbagemule commented on #435
Okay, took a quick stab. I need to do some cleanup, but I think I have a new commit ready tonight:

    [15:59:54 INFO]: ConfigCommand start
    [15:59:54 INFO]:   ArenaMasterImpl#reloadConfig() start
    [15:59:54 INFO]:     forceEnds start
    [15:59:54 INFO]:     forceEnds took 0 ms
    [15:59:54 INFO]:     MobArena#reloadConfig() start
    [15:59:54 INFO]:     MobArena#reloadConfig() took 37 m

[2018-04-23 00:12] Swatacular opened #445 "Any block moved by a piston "edits" the arena"
# Summary

* This issue is a…
    * [X] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:

If a player uses a piston, they can move blocks around the arena, any blocks moved do not return to the original state when the arena ends.

# Background

### Bug report

* **MobArena version**: 0

[2018-04-23 08:51] garbagemule commented on #437
@Sikatsu @Haileykins
I just tried this on Craftbukkit 1.12.2, and I can reproduce it if I set `auto-respawn: true` in my config-file. If I set it to `false`, however, I respawn just fine. Can you guys please check if this is the case for you as well?

Hailey, you did say that you tried turning it off, but can you please try again and see if maybe it's just a fluke of sorts?

[2018-04-23 09:16] garbagemule commented on #437
It looks like this is only a client-side glitch, so there's nothing "dangerous" about it. When you are glitched, you are the only one who can see it - others can't. At least from what I just experienced on a MobArena server.

[2018-04-23 09:35] garbagemule commented on #423
Maybe we can establish the order in which MobArena does its stuff, just so I don't have to guess too much. It seems like changing gamemodes and worlds cause inventories to change. And it also seems like changing worlds may cause a change in gamemode as well, but not the other way around. So with that, does this order make sense for when a player joins?

- Record current location, then teleport to

[2018-04-23 13:33] garbagemule commented on #313
So the two attempts at solving the issue seem to be in vain. In the general case, we have four different cases with teleportation and arena regions:

1. Inside -> inside
2. Outside -> inside
3. Inside -> outside
4. Outside -> outside

Let's take a look at each case.

### 1. Inside -> inside

When players teleport within the region(s), it's _generally_ okay:

- when joining, to the lobby
- when spe

[2018-04-23 14:55] Nesseley commented on #423
The thing they do is:
Be in the creative-world
use /ma join
Use /ma leave
They:
a) havent set the exit place
b) have set the exit in survival/other world than they can join from

Because of this the inventories will switch, as MobArena saves the inventory they JOINED with, and gives this (JOINED) inventory back when leaving (and when they leave they are placed in survival as the player/admin on se

[2018-04-23 14:57] Nesseley commented on #444
Maybe you have a worldguard region there aswell?
You can check with standing in the arena and use /rg info

[2018-04-24 11:00] garbagemule commented on #444
This is definitely a conflicting plugin. MobArena doesn't cancel damage to arena players - in fact, it "uncancels" damage to arena players, but the cancellation can still get overridden by another plugin.

Typically it's WorldGuard or if the arena is located in or close to the spawn area of the world.

[2018-04-24 11:00] #444 closed

[2018-04-24 13:52] garbagemule commented on #429
I can't reproduce this, and nothing in the code seems to hint at this being a MobArena bug.

TNT is not listed as part of the repairable types that MobArena tries to repair on damage/attacking, and the repair code only changes durability, not item amount.

[2018-04-24 15:29] #313 closed

[2018-04-24 17:11] Pugabyte commented on #432
I feel it is unlikely that it was a memory issue. I stay pretty ontop of the system to make sure there's always memory and CPU free.
![image](https://user-images.githubusercontent.com/12417961/39202670-97bf91b6-47c0-11e8-8096-90aeb86f50d4.png)

It could have been a network issue, I cannot say for certain it wasn't, but my host has been extremely reliable through the 3 years I've used it (OVH divis

[2018-04-24 17:45] Pugabyte commented on #435
Unfortunately I am still seeing a very high reload time on my end with a freshly compiled version of MA.
![image](https://user-images.githubusercontent.com/12417961/39204403-b0f1bc0e-47c5-11e8-9fde-8267f1f5b13d.png)

Its consistently 10 seconds long

[2018-04-24 18:52] FilidDamhsoir commented on #433
I just tested this with flat heath values, I tried 10, 20, up through 200.  No health bar at any level I tested.

[2018-04-24 19:47] garbagemule commented on #432
So the only thing I can think of that would make stuff freeze is the cleanup code due to the entity/region scans. Maybe it would be worth looking into logging some timings of some of these things?

It could also be that a GC cycle kicked in - 3 gigs is a lot of heap space to clean up if the usage isn't normally up there and all of a sudden there's a ton of objects to nuke.

[2018-04-24 19:50] garbagemule commented on #433
Thanks for checking this @FilidDamhsoir :)

I honestly think it's a matter of Spigot/MC limitations more than anything. MobArena doesn't treat polar bears differently than other mobs, and I don't think it should have to. The max health is set to whatever the health value is, and then the health value is set to the same.

Was this on Spigot or Craftbukkit?

[2018-04-24 19:51] garbagemule commented on #435
Is this an improvement over the previous reload times? You didn't specify how long they were before.

[2018-04-24 19:56] Pugabyte commented on #433
(Filid is my Admin) We run Spigot 1.12.2, a build as of about 2 days

[2018-04-24 19:56] Pugabyte commented on #433
My bad, didnt mean to close it

[2018-04-24 20:02] Pugabyte commented on #435
This is identical to what it was 2 months ago. Give me a little bit to confirm that I really am running a new version. Also to answer your question on Discord, I am completely comfortable adding debugging console outputs for timings but I cannot guarantee when I will have time to do so. I would greatly appreciate it if you provided me a jar with them already built in.

[2018-04-24 20:12] Pugabyte commented on #435
I am running the latest version. Changed the version in the pom to confirm.
![image](https://user-images.githubusercontent.com/12417961/39211665-57e7a230-47da-11e8-93c3-6786c7371b3e.png)

[2018-04-25 12:42] GiraffeCubed commented on #429
When unbreakable-weapons is false, the TNT is taken from my offhand, but placed back in to my main hand. This is still exploitable, however. If you can't reproduce I guess I'll make my own fix.

Thanks anyway!

[2018-04-25 13:51] garbagemule commented on #429
Ohh, auto ignite, of course. There might yet be something there then. I didn't test with auto ignite. I'll give this another whirl just to make sure I have all bases covered. In the meantime, could you please verify that my findings when auto ignite is off? Just to make sure we're on the same basis?

Would you be interested in taking a stab at fixing this issue in MobArena if it turns out to be a

[2018-04-26 17:59] garbagemule commented on #429
Confirmed!

[2018-04-26 18:02] #429 closed

[2018-04-26 18:03] garbagemule commented on #429
Fix included in next release :)

Thanks for the bug report.

[2018-04-26 18:26] garbagemule commented on #433
Alright, I'm pretty sure the problem is with Spigot.

In spigot.yml in the server root, change the value of `settings.attribute.maxHealth.max`to something big (but don't exaggerate with the zeroes). Maybe a hundred thousand (100,000). This is a value that's large enough that MobArena shouldn't feasible reach it (the formula for `psycho` health is the largest scaling function, and it's (#players +

[2018-04-27 01:32] Haileykins commented on #407
I would be able to get this worked on. I can start now!

[2018-04-27 01:33] Haileykins commented on #407
I didn't read well. Looks like CT-Martin got this one

[2018-04-27 08:58] garbagemule commented on #407
@Haileykins I've added the issue to the April Sweep, so it's up for grabs if you'd like to take a stab at it. Feel free to have a look at the other good first issues as well.

[2018-04-27 18:08] garbagemule commented on #423
Just to sort of delegate the workload, is there any chance one of you guys could set up a super basic server environment with just the plugins and configuration of MobArena necessary to reproduce this, and then zip it and upload it somewhere? That way I don't have to spend a lot of time learning how to set up the plugins, and I can focus on fixing the issue.

I have a basic rework of the join/leav

[2018-04-27 18:51] Nesseley commented on #423
I guess I can set that up, whats the discord? :)

[2018-04-28 08:27] Nesseley opened #446 "Case sensitivity in commands"
* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Players can't type commands in capslock in arena.
/MA L and /ma L does not work, while /ma l does.
Some younger players thinks that /ma 1 (one) is the command and if i type "Use /MA L" it doesnt work. I fixed

[2018-04-28 10:07] garbagemule commented on #446
Thanks for submitting this issue :)

So this isn't actually a bug. Case sensitivity in commands is not a deliberate choice, but it isn't stated anywhere that the commands can be used in a case insensitive way. It's more of an oversight or lack of consideration, really.

Renaming and recategorizing.

[2018-04-29 03:40] garbagemule commented on #423
@ScuroK @RainOfPain125 @Sikatsu
I've just wrapped up an almost complete rewrite of the join/leave logic, and I've tested it on my local single-world setup, where it seems to work as expected. @Nesseley helped me test out an earlier build with some of the same ideas as this new build, but I gotta admit I have basically zero knowledge of how many ways a multi-world and multi-inventory setup could vi

[2018-04-29 16:13] Zephez opened #447 "Soft-Restore Bug: Lever postitions and chest contents not restoring"
* [X ] Bug report

Bug Report Issue:
Soft-restore does not restore levers to their original positions and does not restore items in chests.

Background:
I have made a dungeon style arena where the player must activate levers and get items from chests to be able to progress. It would be great to be able to restore items to chests and levers to their original states when the arena is complete.

###

[2018-04-29 16:36] garbagemule commented on #447
Thanks for the bug report!

Soft-restore is definitely due for a revisit. I'm not sure if it's better to try to re-introduce the full region sweep, or if there is another plugin that would make this whole thing a lot simpler and more robust (maybe WorldEdit/WorldGuard could work).

Do we know of any minigame plugins with a robust restore feature, or is it just a weird MobArena thing?

[2018-04-29 16:36] garbagemule commented on #242
Closing in favor of #447 which follows the new issue template.

Man this issue is old...

[2018-04-29 16:36] #242 closed

[2018-04-29 17:16] ScuroK commented on #423
@garbagemule i will start testing tonite. probably give u feedback tonite or tmr

[2018-04-29 23:38] garbagemule commented on #433
What kind of behavior from MobArena would be acceptable/expected here (assuming this is the problem)?

It tries to set a health value, but the underlying server implementation is disallowing it?

- Should the arena force end with an error explaining how to fix the issue?
- Should the boss be given a "best effort" health value (likely 2048, which is Spigot's default max health)?
- Something else?

[2018-04-30 09:35] Haileykins commented on #428
I'll take the assignment on this one

[2018-04-30 09:36] Haileykins commented on #407
I'll look into it when/if I have time. I also have other things to work on and life is a pain in the ass if you believe it lol! Happy to poke around the code

[2018-04-30 11:44] Haileykins commented on #447
I'd like to pipe in here and say that, I run an arena with levers, pressure plates, and chests, furnaces etc, that all restore perfectly fine. I have an arena where you must kill a boss, get a lever, and use the lever to progress to the next region, those levers always get removed before the next round restarts by soft restore.

I might be mis-interpreting this situation here. If so, my apologies.

[2018-04-30 12:33] garbagemule commented on #423
Just to recap some of the feedback:

- @Nesseley and I found no issues in our tests
- @ScuroK said that things are working fine for him as well
- @Sikatsu and I _did_ find issues on his setup

So the soft-depend solution didn't seem to do it here. I'll have to look into this a bit more. It's a bit grim-looking, because it does seem like MobArena is doing exactly what it should do, but either PerWo

[2018-04-30 15:27] garbagemule commented on #423
Just so I don't forget, we've made some progress on this issue.

The `separate-gamemode-inventories` setting in PerWorldInventory defaults to `true`, but if we flip it to `false`, everything seems to work as it should. Now, what is this setting...

From what I have gathered, it's really just an extra layer in PWI that allows the plugin to control per-gamemode inventories as well (duh, it's in the

[2018-05-01 22:41] #423 closed

[2018-05-02 00:16] PetrichorCraft opened #449 "Delay between waves"
# Summary

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
I'd like to have the ability to set a delay between waves, when all mobs must be killed before moving on. As it is, players take varying times to kill the mobs, so the current "wave-interval" doesn

[2018-05-02 16:10] #428 closed

[2018-05-02 16:26] garbagemule commented on #311
Closing this as issue was resolved. If there's more trouble with Bungee, please create a new Bungee-specific issue.

[2018-05-02 16:26] #311 closed

[2018-05-02 16:27] garbagemule commented on #310
Please re-open if this is still an issue after v0.100. The join/leave process was completely rewritten for this release.

[2018-05-02 16:27] #310 closed

[2018-05-02 16:31] garbagemule commented on #419
Please re-open if this is still an issue.

[2018-05-02 16:31] #419 closed

[2018-05-02 20:05] TheIntelloBox opened #450 "QUESTION: Must we reset the file for 0.100 ?"
Hi ! :D

I have a question: Must we reset the file for 0.100 ? :D

Thanks ! :D

[2018-05-02 20:08] garbagemule commented on #450
Please come on Discord or IRC to ask questions 💋

[2018-05-02 20:08] #450 closed

[2018-05-02 23:14] Gnat008 commented on #423
Sorry for not chiming in earlier (I'm the PWI guy). Yeah, that whole one tick later thing tends to mess things up when it comes to other plugins. With the upcoming rewrite to PWI, this no longer happens because the process is a bit saner than before. Hopefully with all of our changes, this wont be an issue anymore! :D

[2018-05-02 23:31] Gnat008 commented on #423
Heya!

Sounds good! And thanks, me too!

And no problem; I know the pain of having an issue with something and *not* being able to see for myself. It really does make a lot of things so much easier for everyone.

[2018-05-03 01:39] PrinceOfIonia opened #451 "[Bug] Entry Fee doesn't work with currency in the newest MobArena update."
# Summary
So hi there! I'm not very good with all this formatting, so please forgive me if I make any mistakes on here. Anyways, as title says, the entry fee for MobArena is a little wonky.

HOW TO REPLICATE

http://prntscr.com/jd0fqs

(Yes even if you put '$20' instead of $20, the same thing happens)

* This issue is a…
    * [X] Bug report
    * [ ] Feature request
    * [ ] Documentation reques

[2018-05-03 08:42] Nesseley opened #452 "Kill the dog if the owner dies in the arena"
* This issue is a…
    * [x] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
When a player that had a dog died, the dog should die aswell. As of now the dog is still in the arena killing things and making the arena easyer for the people still playing. (they can use the dog to scare sk

[2018-05-03 09:00] garbagemule commented on #451
Thanks for the bug report! Turns out part of the join/leave refactoring messed up the order of Thing initialization. I've identified the issue :)

[2018-05-03 15:48] Haileykins commented on #449
This is something I personally have thought to need to be a feature. I do not know all to well how to use timers and delays in Spigot/Java, but it should be a simple (in English): If lastmob dead, start timer (x seconds) start new wave. I can look into this if I have the time.

Note to staff on project, do not assign this to me unless no one else is interested in looking at it as there's no guaran

[2018-05-03 16:29] PrinceOfIonia commented on #451
Nice!

[2018-05-03 17:11] PrinceOfIonia opened #453 "The ability to give regular mobs potion effects."
# Summary

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Simple as the title says! The boss has the (potions:) config option, so it shouldn't be too hard to port this over to regular mobs.

# Background

### Feature request

* **Feature type**:
    * [ ]

[2018-05-03 17:48] TheIntelloBox opened #454 "Timer in chat"
* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question

### Feature request

* **Feature type**:
    * [ ] Arena configuration
    * [ ] Classes
    * [ ] Documentation
    * [ ] Economy integration
    * [ ] Leaderboards
    * [X] New config settings
    * [X] Other (please explain)
    * [ ] Rewards
    * [ ] Thi

[2018-05-03 18:08] PrinceOfIonia commented on #453
Yeah! See what I mean! Although, I think zombies only jump when they need to go up 1 block.

[2018-05-03 22:07] garbagemule commented on #453
In the provided example, do all mobs in the wave get all the potions listed? How would we go about giving different mobs different potions?

[2018-05-03 22:08] garbagemule commented on #454
What if clear-wave-before-next is true?

[2018-05-03 22:43] PrinceOfIonia commented on #453
Well, a good starting point would just make (potions:) work for mobs, and every mob spawned that wave will get the potion effect. Giving different mobs different effects in the same wave is a little tricky, prehaps maybe have the potions template work like this, (potions: [mobtype]:[effect]:[amplifier]:[duration]) but it's just a thought, for now I believe if you're going to implement this, just h

[2018-05-04 14:34] Swatacular opened #455 "API to be used with command blocks"
# Summary

* This issue is a…
    * [ ] Bug report
    * [x] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Create a ingame api to be used with command blocks

# Background

### Feature request

* **Feature type**:
    * [ ] Arena configuration
    * [ ] Classes
    * [ ] Documentation
    * [ ] Economy

[2018-05-04 14:44] Swatacular opened #456 "Upgrade waves being configurable by chests"
# Summary
* This issue is a…
    * [ ] Bug report
    * [x] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Upgrade waves being configurable by chests

# Background

### Feature request

* **Feature type**:
    * [x] Arena configuration
    * [x] Classes
    * [ ] Documentation
    * [ ] Economy integrati

[2018-05-04 15:04] Swatacular opened #457 "[Suggestion] Chest Based Waves"
# Summary
* This issue is a…
    * [ ] Bug report
    * [x] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Chest based waves

# Background
### Feature request

* **Feature type**:
    * [x] Arena configuration
    * [ ] Classes
    * [ ] Documentation
    * [ ] Economy integration
    * [ ] Leaderboards

[2018-05-04 16:53] PrinceOfIonia commented on #457
This would require a lot of work, but it's a great idea!

[2018-05-04 17:38] garbagemule commented on #457
Is there any particular reason why it has to be physical chests? Would an inventory-based GUI suffice?

Also, to even consider starting a feature like this, we need examples. Lots and lots of examples. Putting a spawn egg in an inventory only communicates a monster type. MobArena's wave definitions have a lot more configuration than just monster types.

Let's set the ground rules:

- Configuration

[2018-05-04 17:41] garbagemule commented on #456
There is a significant overlap between this and #457

I feel that handling this specific case is opening a can of worms: What's next? Supply waves? Boss waves? There has to be a much more concrete, well-described example of how this could work, and why it makes sense to tackle upgrade waves specifically and not the other waves. This is way too vague.

[2018-05-04 17:51] garbagemule commented on #455
This sounds interesting. So the idea is to feed MobArena variables into Objectives on a Scoreboard, and that just automagically makes it possible to extract those values in command blocks? I've never worked with command blocks, and my experience with Objectives is limited to single-objective scoreboards in MobArena.

If other plugins offer something similar, please link to the repositories so peop

[2018-05-04 17:59] garbagemule commented on #334
First has a new single-issue duplicate here: #449

Second is already implemented.

[2018-05-04 17:59] #334 closed

[2018-05-04 18:41] CraftyBr opened #458 "[SUGGESTION] Mythic Mobs integration"
* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the feature in 1-2 sentences**:
Allow the spawning of Mythic Mobs inside the arena.
Plugin: https://www.spigotmc.org/resources/%E2%9A%94-mythicmobs-%E2%96%BAthe-1-custom-mob-creator%E2%97%84.5702/
* **Feature type**:
    * [ ] Arena configuration

[2018-05-04 19:14] PrinceOfIonia commented on #458
How would you tell the arena to spawn a specific type of Mythic Mob?

[2018-05-04 19:18] CraftyBr commented on #458
As I am not a developer, I would not know. But maybe in the config for "waves" have Monsters: <mythicmob name> and under the category of settings have a toggle for them "MythicMobs: true/false"

[2018-05-04 19:27] PrinceOfIonia commented on #458
Yeah, you've explained this, already, you're telling the arena to turn on compatibility with Mythic Mobs, but you haven't presented a method on how to tell the arena to use the mob at all, or what wave to spawn it.

Something needs to tell it. Perhaps, in the config file, in settings the monsters in the wave, instead of a regular zombie, it might be possible to do it like this. http://prntscr.com/

[2018-05-06 16:11] Nesseley opened #459 "Display boss health as a BossBar"
* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Display the health of the boss as a bossbar, like enderdragon and wither have,

### Feature request

* **Feature type**:
    * [ ] Arena configuration
    * [ ] Classes
    * [ ] Documentation
    * [ ] Econo

[2018-05-06 16:16] Nesseley opened #460 "[SUGGESTION] Add option to set max health for bosses."
* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Add a config option to set a max health for each boss.

### Feature request

* **Feature type**:
    * [X] Arena configuration
    * [ ] Classes
    * [ ] Documentation
    * [ ] Economy integration
    * [ ]

[2018-05-06 16:48] garbagemule commented on #460
With 10 players and `low`, the health is going to be (10+1) * 20 * 8 = 1720. Not sure where the 3000 comes from. With `verylow` you get (10+1) * 20 * 4 = 880, which is closer to the 1000 you've given as an example. Perhaps that solves the issue?

I don't think a hard cap is the right approach. If the scaling doesn't work in its current state, then let's address the scaling instead of a weird catch

[2018-05-06 16:50] garbagemule commented on #459
I'll let this one slip because this issue follows the template and the old one doesn't, but in the future, please use the search feature to see if there's already an existing issue that describes your request: #370

[2018-05-06 16:51] garbagemule commented on #370
Closing in favor of #459 which follows the template, but otherwise is the exact same.

[2018-05-06 16:51] #370 closed

[2018-05-06 16:53] garbagemule commented on #458
Duplicate of #362

Please check if your suggestion has already been posted before creating new issues. Closing this one as the old one has more useful comments.

[2018-05-06 16:53] #458 closed

[2018-05-06 17:11] garbagemule commented on #459
I think this should be pretty straightforward to implement. The Server class has a [createBossBar()](https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Server.html#createBossBar-java.lang.String-org.bukkit.boss.BarColor-org.bukkit.boss.BarStyle-org.bukkit.boss.BarFlag...-) method that returns a BossBar instance, which needs to be managed somewhere. A good place to manage it would probably be MABo

[2018-05-06 17:32] garbagemule commented on #452
Currently, pets are removed when a player is revived or when they leave the arena. Since v0.100, players automatically leave the arena even if `spectate-after-death: true`, so this _should_ only be a problem with `auto-respawn: false`, because none of the clearing code will be run until the player hits "Respawn".

@Nesseley can you please confirm that this is the case in v0.100?

If so, this is a

[2018-05-06 17:36] garbagemule commented on #449
This requires changes throughout the waves system - config-file (and thus the parser), ArenaImpl, MASpawnThread, possibly all of the waves logic if there has to be any sort of additional configurability in it.

I'll say that before an arena session rework, the only possibility is a per-arena wave delay that is fixed and forced in between all waves. But we need to look into the different wave-speci

[2018-05-06 17:47] garbagemule commented on #437
So we looked into this a bit more a week ago, and we found that this issue is very situational and impossible to reproduce consistently across setups - I haven't yet been able to reproduce it locally, but on Sikatsu's setup it happens all the time. So long as we can't reproduce it consistently across setups, there isn't really anything we can do about it.

We also found through a bit of Googling o

[2018-05-06 17:49] garbagemule commented on #432
I'm gonna close this as it isn't really possible to get any further. We can't reproduce it, and it doesn't look like it's happened ever since.

[2018-05-06 17:49] #432 closed

[2018-05-06 17:55] garbagemule commented on #426
Gonna mark this as a documentation task.

[2018-05-06 18:00] garbagemule commented on #415
Looks like the only way to really handle this is to keep track of the last player who "touched" the monster, but this is a whitelisting approach that is extremely difficult to get right. Consider plugins that give players magic spells where you can set monsters on fire - how is MobArena supposed to hook into _all_ such plugins and cover all bases?

I think we need to look into possible ways of dea

[2018-05-06 18:04] garbagemule commented on #412
There is some overlap between the investigative area of this issue and #430

[2018-05-06 18:09] garbagemule commented on #405
Tab completion would potentially reduce the need for the `pattern` bit in CommandInfo. I'm a bit worried that MobArena's commands architecture needs a bit of a rework for this to work, but it might be possible to just work tab completion into the existing command registration phase. Might be a good first issue for some of the more seasoned developers out there, but for rookies, I don't recommend i

[2018-05-06 18:12] #389 closed

[2018-05-06 18:17] #372 closed

[2018-05-06 18:30] NathanWolf commented on #415
Yeah this is a general issue for me with Quests and other plugins of that type.

I think the best thing you could do on your end is just track players that damage mobs. Unfortunately you can't use the last damage source for this, since that can change to fall, fire, poison, wither, etc damage (without a reference to the player).

But if you simply track the last player to damage, without clearing

[2018-05-06 20:39] garbagemule commented on #366
To solve this issue, we need to store whatever scoreboard the player currently has, and restore it when the player leaves. I think this is very doable with the refactoring of the join/leave process in v0.100.

Maybe the solution is to simply add a ClearScoreboard/SetScoreboard step or something like that. However, #375 and #455 are related to scoreboards and worth taking into account.

[2018-05-06 20:46] garbagemule commented on #360
This is very much relevant in a rework of the arena session functionality. The trigger to start a given phase could be to activate some sort of redstone-powered gate or trigger point, and the lever or button or whatever could drop from the mobs of the current phase with a given percent chance or after x kills.

It's also very, very vague and we need way more feedback _and_ investigation on this ki

[2018-05-06 20:49] garbagemule commented on #359
As previously mentioned, Forge monster support was implemented with bloodmc back in the day. If this turns out to be a continued issue, we can re-open, but given the lack of activity here, I'm closing it for now.

[2018-05-06 20:49] #359 closed

[2018-05-06 20:52] garbagemule commented on #355
Is this still a thing? What are holograms? How do they work?

The only information I could find was based on NMS hackery.

[2018-05-06 20:54] garbagemule commented on #354
Can you give an example of how this would look in the config-file?

How would it work with ability announcements?

Could it work alongside something like #459? If so, how?

[2018-05-06 20:57] garbagemule commented on #351
We need lots of ideas and feedback on this before we can even attempt a stab at this.

Also ties in really well with the rework of monster spawning/managing.

[2018-05-06 21:00] garbagemule commented on #347
@TheComputerGeek2 thoughts on this issue? Can it be closed? And what of the MagicSpells integration in MobArena - can we strip it out? Would things break if we did?

[2018-05-06 21:00] Sikatsu commented on #355
Hook into Holographic Displays perhaps?
Still a nice feature to have, signs are getting old.

Op zo 6 mei 2018 22:52 schreef garbagemule <notifications@github.com>:

[2018-05-06 21:05] TheComputerGeek2 commented on #347
@garbagemule I never got around to spending enough time with this, although I'd actually love to have some integration with MS and the bosses. If need be, I can try to clean up the integration solution here. Can't really take on further projects at this moment, but this has been on the todo list for a long time.

[2018-05-06 21:10] garbagemule commented on #346
Just to sort of recap this: the idea here is to define a sort of tiered reward system where the next level of rewards replaces the ones in the current level, effectively making it possible to "upgrade" rewards along the way without having to grant every single tier. As an example (using the "grouping" functionality proposed in #386):

    rewards:
      tiered:
        '4': all(leather_helmet, lea

[2018-05-06 21:14] garbagemule commented on #284
Closing this as it's too vague. Re-open (and please elaborate) if this is still relevant.

[2018-05-06 21:14] #284 closed

[2018-05-06 21:26] garbagemule commented on #277
Pretty sure this is supported now since Setup Mode was introduced, as it looks at InventoryHolder blocks, which cauldrons are. Re-open if still relevant.

[2018-05-06 21:26] #277 closed

[2018-05-06 21:29] garbagemule commented on #275
This makes for a really good (albeit poorly detailed) use case for the refactoring of both the monster handling and the arena sessions. NPCs or neutral mobs that either need protecting or can otherwise be used as triggers for phases is a good idea.

[2018-05-06 21:36] garbagemule commented on #272
This issue is about using titles to display wave numbers and other fancy stuff. It's a brilliant idea and could reduce some of the chat spam.

[2018-05-06 21:38] garbagemule commented on #262
Closing this in favor of #449

I know they aren't entirely the same, but a full-fledged per-wave or per-group granularity is a bit too much for the current code base.

[2018-05-06 21:38] #262 closed

[2018-05-06 21:40] garbagemule commented on #261
Closing this one in favor of #449 as well.

I'll keep these in mind for a rework of the arena session functionality, but for now, I'd prefer to sort of clean the issue list up a bit more.

[2018-05-06 21:40] #261 closed

[2018-05-06 21:44] garbagemule commented on #259
This is generally already possible by just splitting one wave up into multiple smaller waves and setting the wave interval to be lower, but I understand that it could be useful with wave "groupings".

I'll leave this one open for reference in the arena session rework.

[2018-05-06 21:49] garbagemule commented on #227
Good candidate for monster handling rework.

Also relevant: #354

[2018-05-06 21:50] garbagemule commented on #216
Please re-open this if it's still relevant.

[2018-05-06 21:50] #216 closed

[2018-05-06 22:16] TheComputerGeek2 opened #461 "Enhance wave growth configuration"
# Summary

* This issue is a…
    * [ ] Bug report
    * [x] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Enhance wave growth customizaibility through the use of [Exp4j](https://github.com/fasseg/exp4j)

# Background

### Feature request

* **Feature type**:
    * [x] Arena configuration
    * [ ] Clas

[2018-05-06 22:31] garbagemule commented on #461
Just a few things:

- can we legally bundle this in the final jar?
- how much does it impact the size of the final jar?
- is it enough, or do we need something more than this?

As for whether or not we need more, the only thing I can think of is the possibility of piecewise functions or "case expressions", where we can say stuff like "if the player count is less than x, use this function, otherwis

[2018-05-06 22:57] garbagemule commented on #355
Ah, I thought it was a Minecraft thing.

I don't think hooking into brittle plugins is the way to go about this. Leaderboards and statistics in general are pretty barebones in MobArena, and I think we can go a lot further by just introducing new events for other plugins to listen to, or by introducing support for a persistence layer.

Gonna close this for now since it's very much focused on specif

[2018-05-06 22:57] #355 closed

[2018-05-06 23:06] TheComputerGeek2 commented on #461
Yes, it is legal to shade and bundle this into the final jar.
The library claims to be about 40kb according to the readme.
I think that this type of solution could easily be enough.

In response to the case expressions, we can add additional functions of our own for the library to use trivially.

[2018-05-07 08:40] Synida commented on #275
that was some years ago wow. Actually after that we wanted to create a siege arena. Actually the idea is based on those free world RPG games, where you can wandering aroud the world and there are places where you can find quests, like clear this or that area, capture cities. Now if you are planning to add a trigger like you said, maybe an implementation of an area trigger would be also cool. Or a

[2018-05-12 10:05] garbagemule opened #463 "Vault is no longer optional"
# Summary

* This issue is a…
    * [x] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Since v0.100, MobArena throws a hissy fit if Vault is not installed on the server. It used to be an optional dependency, but it is now incorrectly a mandatory dependency.

# Background

### Bug rep

[2018-05-12 10:08] garbagemule commented on #463
The NPE in onEnable only happens because of the error in onLoad - ThingManager is never instantiated, so the `parse()` method is called on a `null` reference.

[2018-05-13 12:11] garbagemule commented on #463
Got a fix for this one, just forgot to push it.

[2018-05-13 15:43] #463 closed

[2018-05-13 22:04] timo-0302 opened #464 "Adding Milestones"
# Summary

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:

# Background

### Feature request

* **Feature type**:
    * [ ] Arena configuration
    * [ ] Classes
    * [ ] Documentation
    * [ ] Economy integration
    * [ ] Leaderboards
    * [ ] New co

[2018-05-13 22:10] garbagemule commented on #464
Why is it necessary for MobArena to keep track of this? Can't you just run the command every time the player reaches that wave? Permissions operations should be idempotent, so granting the same permission more than once should have no effect.

This is of course not possible with operations that aren't idempotent, such as adding an item to an inventory. But the example specifically mentions permiss

[2018-05-14 17:22] garbagemule opened #465 "Inventory woes on 1.8"
# Summary

* This issue is a…
    * [x] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Since v0.100, MobArena doesn't properly (re)store inventories on 1.8 servers. Only the actual inventory is stored and restored, while armor items get wiped out.

# Background

### Bug report

* **M

[2018-05-14 17:48] garbagemule commented on #465
Will be part of the next release.

[2018-05-14 17:48] #465 closed, assigned to nobody

[2018-05-15 16:07] garbagemule commented on #406
We need all of the deprecated item stuff to be replaced/fixed by next release to prepare for 1.13.

[2018-05-18 21:05] shaady91 commented on #362
Mythic Mobs support would be amazing.

I could create an Arena and make the last boss, drop a special items for special armor or specific crate.

i have a tons of ideas :D

[2018-05-21 03:09] WakkaFlocka239 commented on #436
It appears to have been WorldGuard blocking the damage of Iron Golems. Setting the region to Passthough allow seems to have fixed the problem.

[2018-05-21 03:09] #436 closed

[2018-05-22 10:33] lewis2470 opened #466 "[FEATURE REQUEST] Destruble Arena Regions"
# Summary

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:

# Background
 <--
    IF THIS IS A FEATURE REQUEST:

    * Delete the "Bug report" section
    * Be descriptive – help us understand your idea
    * Consider any issues that might happen if your i

[2018-05-22 16:56] garbagemule commented on #466
The idea of making only some parts of the arena region destructible is pretty good. The suggested setup, however, is quite complex and far from intuitive. I don't think setting sub-regions is the way to go for this kind of thing to work out.

How about this: during arena setup, you can switch between two "snapshots" of the arena. One snapshot defines the indestructible part of the arena, and the o

[2018-05-23 02:08] Pendragon1111 opened #467 "Make the "bone to pet wolf" transformation optional"
# Summary

* This issue is a…
    * [ ] Bug report
    * [x] Feature request
    * [ ] Documentation request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
I would like a true/false option to set bones in a players inventory becoming dogs upon entering or not.

# Background

### Feature request

* **Feature type**:
    * [ ] Arena configuration
    *

[2018-05-23 02:17] Pendragon1111 opened #468 "Using commands in upgrade waves"
* This issue is a…
    * [x] Feature request
* **Describe the issue / feature in 1-2 sentences**:
An option similar to the reward wave "command" feature, but for upgrade waves. Allows for running commands as an upgrade in a similar fashion.

### Feature request

* **Feature type**:
    * [x] Arena configuration
    * [x] New config settings
    * [x] Rewards

**What does it do?**: It would allow m

[2018-05-23 13:14] garbagemule commented on #468
Great idea.

I think this requires a bit of a rework of the upgrade waves, but I don't think it's entirely too much work. The way the Things API currently works for class items should be enough for upgrade waves in the case of armor at least. Weapons are a bit different. Definitely requires a bit more investigation before we can get to an implementation plan.

[2018-05-23 13:34] Pendragon1111 commented on #467
Sounds about perfect to me.

[2018-06-02 18:52] garbagemule opened #469 "Graceful handling of version incompatibilities"
# Summary

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [ ] Documentation request
    * [X] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
MobArena blindly tries to load up regardless of server version, so when a 1.8 server owner tries to start up with a 1.11 build, they are greeted by a, to them, indecipherable error message.

# Deta

[2018-06-04 15:07] GiraffeCubed commented on #437
@garbagemule

I can confirm that this issue only occurs for me when auto-respawn: true, every time I die.

[2018-06-04 19:27] garbagemule commented on #437
@GiraffeCubed how do you force respawns elsewhere? With plugins? MobArena heals you and teleports you out of the arena. That's basically it. If there is a different approach in other plugins, maybe MobArena can copy it (unless it involves tinkering with packets).

[2018-06-05 15:06] GiraffeCubed commented on #437
Using this

((Player)this.player.getSingle(e)).spigot().respawn();
https://hub.spigotmc.org/javadocs/spigot/org/bukkit/entity/Player.Spigot.html#respawn--

In testing, when I heal the player on death, if the heal is not instant and has any delay whatsoever, the bug occurs.

Is your heal or revive on death in MobArena delayed?

[2018-06-05 18:56] garbagemule commented on #437
We can't use the .spigot() method in MobArena because that's in the Spigot API rather than the Bukkit API. I saw some mention of it on the forums as well.

As for delays, it looks like the heal is not delayed, but the "revive" (whatever that entails exactly is left as an exercise for the reader) is, but I will admit that I don't know why. Probably something to do with other things, but I guess it'

[2018-06-11 14:24] mibby commented on #395
Any update on a prefix for MobArena's isolated chat, similar to PVPArena? :)

[2018-06-11 15:35] garbagemule commented on #395
No updates. Still not sure what the best idea here is. We will have bStats in the next release, and I'll probably add a few extra graphs to it to help figure out how much the isolated chat feature is actually being used. If it's a lot of people, it would make sense to gather some more feedback before making a decision. Otherwise, if almost no one uses it, the impact is low enough that we could try

[2018-06-16 13:48] #453 closed

[2018-06-23 12:07] garbagemule commented on #395
@mibby come on Discord :)

[2018-06-23 12:57] garbagemule commented on #468
@Pendragon1111 I might have a basic rework of the upgrade waves sorted out. Would you be able to come on Discord for testing?

[2018-06-23 13:16] Pendragon1111 commented on #468
Yes, but not until tomorrow; I'm about to drive to the beach for the day haha.

I'll join the ma discord tomorrow, or my tag is ArthurPendragon#0547

[2018-06-23 15:12] TheIntelloBox opened #470 "Translation and possibility to modify boss's abilities. :D"
Hi ! :D

Could you add something to translate and to modify the abilities of the boss ? :D

Thanks ! :D
TheIntelloBox ! :D

[2018-06-23 15:18] garbagemule commented on #470
Sorry, buddy. You'll have to invest a little more effort in this :)

Feel free to submit a new feature request that follows the feature request template :)

[2018-06-23 15:18] #470 closed

[2018-06-23 15:37] garbagemule opened #471 "Picking a class that has a class chest does not remove existing potion effects"
# Bug report

**Short description**

Picking a class that has a class chest does not clear existing potion effects from other classes. Players can exploit this by choosing a class with potion effects and then choosing a class with a class chest and retain the potion effects from the first class.

**Reproduction steps**

1. Join an arena
2. Pick a class (A) that has potion effects, but no class che

[2018-06-23 15:41] TheIntelloBox opened #472 "Translation of boss abilities"
# Feature request

**Short description**

Could you add something to translate the abilities of the boss ? :D

**Implementation details**

It would be customizable, and it would affect the players. In fact, I'm French, and the message is : "Le boss utilise l'abilité: Living bomb". However, the ability can't be translated

**Additional info**

Thanks for adding this ! :D

[2018-06-23 16:31] garbagemule commented on #471
I have a fix for this already implemented. I will push it later.

[2018-06-23 21:55] SoraShiunin commented on #466
Allow worldguard and their priority flag option to override mobarena and this could be easily done!

[2018-06-24 06:47] garbagemule commented on #466
@SoraShiunin it's unfortunately not that simple. If all you want is a sub-region that can be destroyed, then yes, disabling MobArena's own protection and using WorldGuard regions can work. In fact, that would work right now. The problem is that you probably want the sub-region to regenerate when the session ends. This means that MobArena has to know about the blocks that are being destroyed.

Actu

[2018-06-24 08:30] garbagemule commented on #472
_Note: I have removed the parts of the issue that ask for customization of the ability constants like blast radius for Living Bomb. This is a completely different matter and belongs in an issue of its own._

Okay, so the way MobArena's localization works is that there is a _fixed_ list of messages that can be translated. Because it's possible to add boss abilities dynamically, they can't possibly

[2018-06-24 08:59] #471 closed

[2018-06-24 13:56] Nesseley commented on #452
Sorry for the late response, but indeed this has been fixed and the dog now dissapears when the owner dies.
Thank you so much for this fix!

[2018-06-24 13:56] #452 closed

[2018-06-24 22:14] #468 closed

[2018-06-24 22:55] garbagemule commented on #459
Implemented and released.

[2018-06-24 22:55] #459 closed

[2018-06-25 07:36] garbagemule opened #473 "Boss bars stick on player death"
# Bug report

**Short description**

When you die in the arena during a boss fight with `boss-bar` health bars, the health bar sticks.

**Reproduction steps**

1. Join an arena with `boss-bar` health bars
2. When the boss spawns, let it kill you
3. Notice that the boss bar does not disappear after respawning

**Details**

* **MobArena version**: 0.101
* **Server version**: Spigot 1.12.2

**Additio

[2018-06-25 08:30] #473 closed

[2018-07-03 16:23] #382 closed

[2018-07-03 16:23] #469 closed

[2018-07-03 16:23] #467 closed

[2018-07-03 16:24] SXRWahrheit commented on #382
ily @garbagemule

[2018-07-03 22:54] garbagemule commented on #366
@SaitDev I realize this issue is ancient, but do you still have a server running MobArena and QuickBoard? Would you be up for testing a potential fix to this issue?

[2018-07-03 23:21] garbagemule commented on #375
Ancient issue, but @mibby and @Kolgrath, would you guys be interested in MobArena providing the health bars in its own scoreboard? I think I have a fix for the non-restoring scoreboards, but that's actually #366, whereas this issue is more about the combination of scoreboards or MobArena picking up a new scoreboard feature.

I'm worried the added player health might actually mess up some people's

[2018-07-04 02:00] SaitDev commented on #366
@garbagemule sure i'll try a test build if u find out any solution for this

[2018-07-04 09:20] garbagemule commented on #366
Awesome @SaitDev! Can you join the MobArena Discord server? I'll upload a release candidate build in there today. Makes it a bit easier to gather all the feedback from testers :)

[2018-07-05 10:08] #366 closed

[2018-07-05 20:03] iceypotato opened #474 "Can't use wither skeletons in 1.8"
# Bug report

**Short description**
For the boss wave, I put monster: wither_skeleton as the mob, but in the console, it says it cannot parse the monster for boss#.

**Reproduction steps**
put this in the config file right under the waves: single: section of the arena.

        boss5:
          type: boss
          wave: 30
          monster: wither-skeleton
          health: 1250
          abilit

[2018-07-05 20:06] Nesseley commented on #474
Hey!
Not sure if you noticed but you typed wither-skeleton, not wither_skeleton in the Reproduction steps. Use a underscore not a hyphen for it to work. ^^
Could this be your mistake?

[2018-07-05 20:07] garbagemule commented on #474
There is no Spigot 3.4.5 - please update the issue with the server version you're running.

[2018-07-05 23:42] iceypotato commented on #474
Sorry, I am using spigot 1.8.8

[2018-07-06 03:52] iceypotato opened #475 "Boss monster can not be wither skeleton."
# Bug report

**Short description**
When I set up a boss wave, and I set the monster to wither_skeleton in the config, there will be an error in the console that says:
`[19:17:14 WARN]: [MobArena] Wave 'boss5' for arena 'big1' could not be parsed.`

**Reproduction steps**

Put this in the config file:
`        boss5:
          type: boss
          wave: 30
          monster: wither_skeleton

[2018-07-06 10:52] garbagemule commented on #475
Closing this as there's no reason for the old ticket to be closed.

[2018-07-06 10:52] #475 closed

[2018-07-06 11:01] garbagemule commented on #474
Right, wither skeletons work perfectly fine in 1.11-1.12, because they have their own EntityType. As per the update to 1.11 about one and a half years ago, the wither skeleton-specific logic was removed (3b88b889d6c94356992f88221be719ec1a469e98). In the backport to 1.8.7 (94feabb9e3acddb121c3bef9f5ee7752d0d7c27f) when 1.8 support was being requested a lot, the wither skeleton logic was not carried

[2018-07-11 21:14] MMooseyyy opened #476 "MobArena Death Glitch"
# Bug report

**Short description**
 After you die in any of the mob arenas, the death animation does not go away. Only you can see it however. When you go in third person you can see it, and when you go into your inventory you can see it. This has been an issue for some time, and we have not been able to find a fix.

When I join the arena, X doesn't work.

**Reproduction steps**

1. Join an arena

[2018-07-11 21:28] garbagemule commented on #476
Duplicate of #437

[2018-07-11 21:28] #476 closed

[2018-07-16 00:36] mibby commented on #351
Perhaps add support for hooking into MythicMobs & Boss for custom mob spawns? I personally use the latter plugin.

https://www.spigotmc.org/resources/%E2%9A%94-mythicmobs-free-version-%E2%96%BAthe-1-custom-mob-creator%E2%97%84.5702/
https://www.spigotmc.org/resources/%E2%98%9B-boss-unbelievable-custom-monsters.46497/

[2018-07-16 00:48] mibby opened #477 "Explosion physics with falling block entity."
# Feature request

**Short description**
Implement an option to turn on explosion physics with blocks exploded turning into a FallingBlock entity with an upward / radial thrown velocity (around the explosion), then placed back on the ground in the direction it lands.

**Implementation details**
Would be an option in the arena config to turn on physics so you can have dynamic arena gameplay with an

[2018-07-16 07:43] garbagemule commented on #351
MythicMobs support is already tracked on #362

While I like the idea of combining plugins for a more fine-tuned experience, direct plugin integration is high maintenance and usually reduces to some sort of lowest common denominator, where a really great feature of one of the plugins isn't available when combining with the other plugin. I think MythicMobs and Boss are cool plugins in their own righ

[2018-07-16 08:02] garbagemule commented on #477
This is a really fun idea. I've played around with it in the past, and I think there's plenty of potential. I just never really took the stab at implementing it with restoration support, partly because the soft-restore functionality in MobArena is atrocious to work with.

Please provide an example of how the configuration would look.

[2018-07-18 09:31] Nesseley commented on #249
This is still a issue.
- Ice blocks are melting even when arena isn't beeing used.
- Placing water while in arena on a lilypad, breaks the lilypad and doesnt replace when the arena finish.

[2018-07-18 09:36] Nesseley commented on #431
Confirming that this still is a bug.
Lever, buttons etc does not activate redstone in the lobby. (I can't pull the lever or push buttons at all)

[2018-07-18 09:46] Nesseley commented on #433
Tested this now, and my polar_bear boss has tons of health. But I know from previous experiences that Spigot does mess with the boss health.

I like the suggestions you have, how about setting it to spigots max if its too high AND send a message til Console about "Boss polar_bear had too much heath compared to spigot.yml setting. Consider setting it higher to give bosses more health.

[2018-07-18 09:48] Nesseley commented on #445
This is still a bug.

[2018-07-18 09:55] Nesseley commented on #447
Tested on newest build.
As Haileykins states the lever placed gets removed on arena end. - But as OP says the chest/furnace I took it from doesnt get a new lever.

[2018-07-18 21:42] garbagemule opened #478 "No error or warning when thing parsing fails"
# Bug report

**Short description**

Invalid items such as `plastic_sword` do not produce a warning or error in the console on startup/config reload. This makes it difficult to troubleshoot misconfiguration problems related to items (and other things).

**Reproduction steps**

1. Put some invalid item in the `items` node of a class
2. Start the server or reload the config
3. No error or warning ab

[2018-07-18 22:56] garbagemule commented on #431
So it turns out that MobArena just cancels any "right-clicky behavior" in the lobby.

IIRC this was a way to prevent players from accidentally killing each other and blowing stuff up in the lobby with magic spells and TNT and what have you. I think it's overzealous to just cancel all right clicks, and I also just managed to blow up my own lobby with a magic grenade by left-clicking. I'm gonna remo

[2018-07-18 23:02] #431 closed

[2018-07-18 23:59] garbagemule commented on #249
Water breaking things should probably be an issue in and of itself. I have a feeling it's a pretty complex problem to solve, since water can wipe away quite a few different types of blocks, and I can't find a helper method in the Bukkit API that can be used to check if a block is "washawayable". I'll avoid doing anything preemptively and just fix the snow and ice issue for now :)

[2018-07-19 00:18] #249 closed

[2018-07-19 00:33] garbagemule commented on #474
Fixed in next release.

[2018-07-19 00:33] #474 closed

[2018-07-19 03:42] mibby commented on #477
A config option is a bit complicated because I'm not sure if the setting should be restricted to requiring soft-restore or a type of worldedit arena restore (arena snapshots?) to ensure no permanent map damage from game to game or server restart during play.

If I were to name the setting, something like ```explosion-physics: true``` in the general arena settings or ```block-physics: true```. Alte

[2018-07-21 16:17] TheIntelloBox opened #479 "1.13 compatibility."
Hello,

MobArena doesn't work in 1.13. Could you fix it ? :)

Thanks !

[2018-07-21 16:39] PrinceOfIonia commented on #479
Hi, 1.13 was a pretty scary update for Spigot and most of the plugins, I heard garbagemule is already trying to solve most of the bugs in 1.13, he mentioned that most of the code has been switched up a little so it might take some time, but we'll see!

[2018-07-22 02:08] mibby opened #480 "Failed to undo step SetHealth"
Paper dev 1506 (Spigot 1.12.2)
MobArena compiled as of commit https://github.com/garbagemule/MobArena/commit/5937eb0631a33aa26de10b71907eae5327b80b14

[code]

[2018-07-22 09:10] garbagemule commented on #480
Hey mibby, please follow the bug report issue template so we can get as much relevant information in the issue as possible from the beginning.

[2018-07-22 09:10] #480 closed

[2018-07-23 11:21] Oruss7 opened #481 "Set time interval before next wave"
# Feature request

**Short description**
Please set time interval before next wave.
I have `clear-wave-before-next: true` but when last mob is killed, next wave spawn immediatly and creeper for example blow up players... A interval time before last mob killed and next wave spawn will be appreciated.

**Implementation details**
Maybe add a new config (in second):
`clear-wave-time-before-next: 20`

[2018-07-27 17:11] jarlpenguin commented on #479
Does the compatibility layer refuse to work?

[2018-07-28 13:39] molor opened #482 "Delay before join."
# Feature request
In all the plugins I have to work with, it is possible to set the time during which the player does not have to move and take damage to teleport somewhere.

But MobArena doesn't have that. Because of this, on PvP servers during the fighting, players can write /ma j or /ma s and hide, keeping their inventory. That's bad, and I would be grateful if you could add the ability to chan

[2018-07-28 17:13] PrinceOfIonia commented on #482
This is actually a really good suggestion! I'm sure a configurable delay can't be that hard to make.

[2018-07-28 22:17] garbagemule commented on #482
Is there a reason you didn't use the feature request template?

This sounds like it requires config file stuff, and it also sounds like there are existing plugins that do this. Please provide some examples of both.

[2018-07-29 08:07] molor commented on #482
Yes, you will need to modify the `config.yml` file a bit. Examples?

https://github.com/xaniox/HeavySpleef/blob/master/bootstrap/src/main/resources/config.yml#L41
https://github.com/EssentialsX/Essentials/blob/2.x/Essentials/src/config.yml#L72

[2018-07-29 13:36] garbagemule commented on #482
Awesome, thanks!

So just to be clear, this is what you're asking for:

- Players Mike, Dustin, and Lucas run around in the wilderness of the server and decide they want to join a MobArena, so they all type /ma join.
- MobArena tells them all `[MobArena] Joining arena in 5 seconds...`
- After 2 seconds, a Creeper blows up right in front of Mike, damaging him, and he sees `[MobArena] Join aborted d

[2018-07-29 13:39] garbagemule commented on #481
Duplicate of #449

[2018-07-29 13:39] #481 closed

[2018-07-29 13:41] molor commented on #482
Yes!

`it enough to just see that it's in X seconds, and X is configurable`

Yes!

That's all. This is how it is implemented in other plugins, and this is enough for everyone c:

[2018-07-29 13:53] garbagemule commented on #449
@PetrichorCraft I may have an implementation of this feature ready. Would you like to come on Discord so I can send you a build for testing? :)

[2018-07-29 15:20] garbagemule commented on #481
@Oruss7 as mentioned on #449 I can give you a build with an implementation of this feature on Discord if you want :)

[2018-07-29 19:13] PetrichorCraft commented on #449
Everything appears to work. Thank you very much! ^.^

[2018-07-29 19:13] #449 closed

[2018-07-29 19:57] garbagemule commented on #482
@molor can you come on Discord and test a build I've made with this feature?

[2018-07-30 10:18] molor commented on #482
I'm not home right now, so I can't. But I believe it's done right. This ability cannot be done wrong :D

[2018-07-30 17:49] Oruss7 commented on #481
yes i want ! thanks @garbagemule and all team MobArena !

[2018-08-03 13:38] Grrevous opened #483 "Mob Arena Availability"
How does one make it so that mob arenas are available at certain times so it doesn't lag out the plugin?

[2018-08-05 17:01] garbagemule commented on #483
Hi, please go on Discord for questions so we can figure out if you need to put in a feature request or not :)

[2018-08-05 17:01] #483 closed

[2018-08-05 19:18] #482 closed

[2018-08-05 20:53] #478 closed

[2018-08-05 23:00] #438 closed

[2018-08-06 00:37] Grrevous opened #484 "Arena cooldown??"
Is it possible to have a cooldown for the arena? Or have it available like events for a server?? If so, how/where do i go to set it?

[2018-08-06 06:33] garbagemule commented on #484
Like I said in the previous issue, please come on Discord to ask questions and let's see if we can figure out a workaround first :)

[2018-08-06 06:33] #484 closed

[2018-08-10 21:25] garbagemule commented on #479
There are dev builds for 1.13 available for test on Discord.

[2018-08-10 21:25] #479 closed

[2018-08-12 18:42] SXRWahrheit opened #485 "Reimplement keep-exp"
# Feature request

**Short description**

`keep-exp` is a cool feature that was a main highlight of my arenas for players, as the world is survival-based.

**Implementation details**

Previous functionality was a per-arena setting for whether to keep EXP from slain monsters.

**Additional info**

Nope! But ask if you have any Qs as always.

[2018-08-12 18:44] SXRWahrheit commented on #464
As a workaround, you could add a command to run a Denizen script that assigns the permission if the player doesn't have it already. You can use the same script to send text to the player, etc.

[2018-08-12 18:48] SXRWahrheit commented on #362
To append our Discord conversation today, a major reason I'd like to see MM bridging implemented to MA is that I would use this to create arenas where players could practice fighting against our survival mobs with low risk. I love the MA bosses and I think our arenas provide good combat practice as-is, but using the actual mobs that they encounter in the world would be really good.

[2018-08-12 21:54] garbagemule commented on #485
Just to sort of break it down into implementation details:

- Player has X experience
- Player joins arena and has experience and level reset
- Player gathers Y experience during the arena session, then dies or leaves
- Upon leaving the arena, the player has their X experience restored, and the Y experience gathered during the arena session is added (sort of like a reward)
- Player now has X+Y exp

[2018-08-12 22:16] garbagemule commented on #362
Alright so, there are two main issues with MythicMobs integration:

1. It is, well, a plugin integration. As per the contribution guidelines, plugin integrations need an extremely good argument, because they reduce the maintainability of the project.
2. The current codebase is very tightly coupled to Bukkit's Entity and its own MACreature. This coupling makes it really difficult to fit anything el

[2018-08-12 22:17] SXRWahrheit commented on #485
Yup!

[2018-08-18 20:35] mibby opened #487 "Incompatible with Spigot 1.13."
I've been testing out a bunch of plugins in a new 1.13 environment to see what breaks. Just thought I'd let you know about this error for when you update to 1.13. :)

MobArena compiled as of commit https://github.com/garbagemule/MobArena/commit/548d8c7e4fe670e857f27c9b484f897e6f38df77
Paper-1.13 dev 152 (Spigot 1.13)

[code]

[2018-08-18 20:37] garbagemule commented on #487
Duplicate of #479

Dev builds on Discord. Come test :)

[2018-08-18 20:37] #487 closed

[2018-08-19 01:32] mibby opened #488 "Error: Fix it, then run /ma load"
MobArena compiled as of commit https://github.com/garbagemule/MobArena/commit/548d8c7e4fe670e857f27c9b484f897e6f38df77

What am I suppose to fix? :(

[code]

[2018-08-19 08:13] garbagemule commented on #488
Hah, the /ma load part is probably due to a refactor action in IntelliJ overreaching.

Anyway, there will be more in the log if this is properly compiled and loaded. That message literally cannot be printed unless there is a message before it. Check the source code in MobArena.java.

[2018-08-19 09:01] garbagemule commented on #407
Added in 977df0b9f47a41ae304b58d5e51a61f5cdd98244 and included in the next release.

Thanks @SaitDev!

[2018-08-19 09:01] #407 closed

[2018-08-19 11:42] mibby commented on #488
@garbagemule

It seems reloading in-game does output what is wrong.
``` Failed to parse wave growth for wave normal1 of arena default: 2```

[code]

Is growth no longer a feature? I can't find what is wrong with it.

[2018-08-19 12:39] mibby commented on #488
Can you please try spinning up a normal Spigot server with your config-file to see if that solves the problem of the missing log message?

Funnily enough, that does seem to fix it! Spun up the last build committed for Spigot 1.12.2 with the same multicraft console start-up settings.

[code]

I guess a custom patch inside Paper is stripping the newline character in MobArena -- it's just odd that it

[2018-08-19 13:35] garbagemule commented on #488
If you could link to the places in the codebases where the newlines are logged, maybe we could find an answer there? I'm just using `\n`, which I imagine the other plugins would also be using.

[2018-08-19 15:52] mibby commented on #488
It's possible all of the plugins are just parsing an empty line instead of using a newline. I'm not able to check two of them because they are closed source.

https://github.com/lucko/LuckPerms/blob/381922fc023a8ab011c7a90315f2bb98ff81303e/common/src/main/java/me/lucko/luckperms/common/plugin/AbstractLuckPermsPlugin.java#L319

https://github.com/SBPrime/SketchMap/blob/574e2f94826d16bf1947a0dd6886e

[2018-08-19 15:53] mibby opened #489 "Legacy ID remapping for backwards compatibility with older versions."
See comments here.

https://github.com/garbagemule/MobArena/issues/488#issuecomment-414123953

[2018-08-19 21:24] SXRWahrheit opened #490 "Rework root-target boss ability"
# Feature request

**Short description**

![2018-08-19 16_23_36- general - discord](https://user-images.githubusercontent.com/774463/44313332-4882fd00-a3cc-11e8-8a33-bd23800cf8d4.png)

**Implementation details**

Change root-target as described to allow players to aim and make the skill less punishing. `stun-target` or some such could be added to retain existing functionality.

[2018-08-19 21:27] garbagemule commented on #490
Could be a good first issue.

One thing to keep in mind is that a player may already have one or more of these potion effects already active, and they shouldn't be overwritten by this ability. So, before applying the ability to a player, store their current "versions" of the three potion effects, then restore them when the root wears off.

[2018-08-20 14:27] mibby commented on #375
@garbagemule Sorry, just noticed this issue. I currently use a wide range of scoreboard plugins for managing collision, colored player names based on group prefix, and mcmmo for mob health bars. I don't use anything for a sidebar scoreboard, as I personally believe it is a bit too obtrusive set permanently outside of things like arenas.

I wouldn't mind MobArena handling scoreboards while in the a

[2018-08-21 02:57] Swatacular commented on #455
I have not used the command block syntax since I posted this suggestion, but here is the rundown.

"Objectives" Have 3 separate factors

"Player Name"
---"Objective Name"
-------"Number Value"

Command blocks can use any of those three factors to create objectives for players that don't exist.

For example,

"aFakeName"
---"aFakeObjective"
-------"1337"

Command blocks have a "Test for" command wh

[2018-08-21 15:22] mibby commented on #488
@garbagemule

Upon further deep testing, it seems to be a conflict with the plugin ConsoleSpamFix.

ConsoleSpamFix v1.6.0
Paper dev 1550 (Spigot 1.12.2)

CSF Config
https://paste.ubuntu.com/p/ZX2D5KNpnb/

I'm not sure why it is conflicting and stripping newlines from Mobarena, as my config isn't set to do so, but I'll forward this to the appropriate dev since I don't think it is an issue with Pape

[2018-08-21 15:29] garbagemule commented on #488
Thanks @mibby!

[2018-08-21 16:16] #488 closed

[2018-08-22 17:40] Nesseley opened #491 "Reimplement /ma j after game end."
**Short description**
You used to be able to use /ma j when the arena had ended and you were in spectator, now you need to /ma l til /ma j again. We want this feature back!
This is a struggle (with hi's from Ness, Wahr and probably Diamond)

**Implementation details**
This would work like this:
Play a game of mobarena.
Die - arena ends.
Use /ma j to join a new game of mobarena.

**Additional info*

[2018-08-22 18:44] garbagemule commented on #491
I want pizza, but I also want to not have to think about this and make arbitrary decisions, so please consider these cases and let me know how you guys expect MobArena to behave in each of them:

Steve just typed `/ma join a2` in the spectator area for arena `a1`, but...

- `a2` is currently running
- joining `a2` costs 4 dirt blocks, and Steve can afford it, but MobArena can't see his inventory a

[2018-08-22 18:48] Nesseley commented on #491
**a2 is currently running**
= Let Steve know that this arena is already running. You should also not be albe to join cross arenas.

**joining a2 costs 4 dirt blocks, and Steve can afford it, but MobArena can't see his inventory as it is currently stowed away in the inventory manager (because spectating stores your inventory)**
= Let Steve know that this arena can't be joined while in an arena. (If

[2018-08-22 18:53] PetrichorCraft commented on #491
Here's how I would expect it to happen:
Situation 1 - a2 is currently running:
a. It sends a message to Steve telling him that a2 is running, and he'll have to join another game or wait.
Steve is still in the spectator area for a1.
b. Or, as Nesseley said, it tells him that he can't join a2 from a1.
I don't really care between the two.

2nd situation:
Again, I agree with Ness.
I'd tell Steve that

[2018-08-22 20:00] SXRWahrheit commented on #491
Cosign @Nesseley's suggestion - this should be handled by only allowing a player to join an arena if not already in one.

[2018-08-22 20:11] garbagemule commented on #491
What does it mean to be "in" an arena? From this issue, the spectator area doesn't count. How about the lobby?

[2018-08-22 20:14] SXRWahrheit commented on #491
I think they should have to leave the lobby to join a different arena.

[2018-08-26 09:41] TheIntelloBox opened #492 "1.13.1 support."
https://www.spigotmc.org/threads/bukkit-craftbukkit-spigot-bungeecord-1-13-1-development-builds.336415/

[2018-08-26 09:50] garbagemule commented on #492
Please reopen if there are any problems.

[2018-08-26 09:50] #492 closed

[2018-08-28 19:40] garbagemule commented on #491
We back.

[2018-08-28 19:40] #491 closed

[2018-08-29 10:38] molor commented on #371
@garbagemule, I need this opportunity more and more every day..

As a simple implementation option, you can add something like "players-spawn-location-shuffle" as a double-setting (which is 0.0 by default, for compatibility). Once the game is started, players will be teleported to the arena, each with a random offset from 0.0 to "players-spawn-location-shuffle" (inclusive) relative to "arenas./nam

[2018-09-08 09:35] Ferocimo opened #494 "Can't give notch golden apples as rewards"
Hello,

As said in the title, I didn't find any way to give Notch's golden apple as rewards (other than with a command reward, which would be a glitchy way of avoiding the issue). Tried putting : "golden_apple:1:5" to give 5 golden apples like I want to, which worked on prior versions of MobArena, but it no longer works.
Error "Failed to parse reward" now appears when reloading MobArena.

Thank yo

[2018-09-08 11:29] Ferocimo commented on #494
Okay, I will try downgrading to 0.102, I'll wait for the 0.103 to be more stable then. Thank you for your reply.

[2018-09-08 12:34] garbagemule commented on #494
Thank you for your patience :)

[2018-09-08 12:56] Ferocimo commented on #494
No worries. But actually the error is still happening on 0.102. What could I do ?

[2018-09-18 22:31] garbagemule opened #495 "Sessions Rework Discussion"
### Motivation

Arena sessions are a bit of a mess. They can be considered single-phase, multi-wave, linear progression, time-/clear-based encounters that are very rigid in structure and setup. Let's take MobArena sessions to the next level. It's a massive undertaking, but there are plenty of wildly imagined use cases (Icecrown Citadel from World of Warcraft) and feature requests to work from.

##

[2018-09-19 03:18] PrinceOfIonia commented on #495
I'll start off with 2 things, both of them will probably be impossible or really hard to work on but they're ideas, so I'll throw em in anyways.

1. A heavy debug log button to toggle before you enter an arena, have it print EVERY single thing MobArena does, and if it errors out slightly it will print that as well, now where should it print too? Maybe in a log file, and to the console as well.

2.

[2018-09-21 13:01] garbagemule commented on #495
To "log everything" is usually a knee-jerk reaction to experiencing glitches, but it usually doesn't help much. Bugs typically creep into nooks and crannies where logging can't see. Many of MobArena's existing bugs are usually due to a non-defensive development approach, which is unique to the older parts of the code base.

Scaling difficulty is a different matter. What does it mean for an encount

[2018-09-22 12:00] garbagemule commented on #495
NBT is a no-go.

We need some concrete examples. Can you provide an example of how a session would progress and what's "in" the session? From the point of all players readying up, what happens (with players, mobs, environment) and how could we represent that session configuration? What would we have to write in a config file to achieve that session configuration?

[2018-09-26 23:36] mibby commented on #320
@garbagemule Any possible update on isolating MobArena chat with a prefix? I recently installed DiscordSRV and MobArena chat is bleeding into the global chat bridge (discord channel), while it is not showing up in-game. Testing PVPArena, chat is properly isolated both in-game global chat and discord bridge - and has the prefix to signify players are chatting in the arena only.

[2018-09-26 23:36] mibby commented on #395
@garbagemule Any possible update on isolating MobArena chat with a prefix? I recently installed DiscordSRV and MobArena chat is bleeding into the global chat bridge (discord channel), while it is not showing up in-game. Testing PVPArena, chat is properly isolated both in-game global chat and discord bridge - and has the prefix to signify players are chatting in the arena only.

[2018-09-27 02:46] SaitDev commented on #320
To let other plugins that process the chat event, we must have something that cancel the event on bungeecord side. Thats possible but then need more works for bungeecord

[2018-09-27 02:46] SaitDev commented on #395
To deal with DiscordSRV but doesnt prevent other plugins from processing the chat event im afraid this can be done only on DiscordSRV side. That will give the best win

[2018-09-27 06:10] mibby commented on #395
Wouldn't it be best for MobArena to properly isolate and prefix the chat as the _specific_ arena's chat? That way you wouldn't have to rely on BungeeCord, other plugins that process global chat event, or DiscordSRV to fix separately.

i.e. How PVPArena handles player chat works perfectly.

[2018-09-27 07:17] garbagemule commented on #395
@mibby can we explore chat plugins and proximity-based channels? With MobArena's new command things and permission things, I'm pretty sure we could do something without changes in MobArena.

[2018-09-27 08:20] mibby commented on #395
@garbagemule I'll take another deep look at my environment and see if I can find a solution, but my situation is a bit complicated. I don't really rely on using any channel type chat plugins. I have everything inter-connected using the normal "global" chat that is parsed. This is to maintain a community and have everything connected across every environment - BungeeCord, all servers, discord, etc.

[2018-09-27 12:38] garbagemule commented on #395
I am a bit of a pedant, which is probably why this sentence annoys me. The problem here is not MobArena's solution to chat isolation, it's BungeeCord's approach to chat propagation. MobArena receives a chat event and filters out the players who shouldn't receive it, _and lets the chat event fly_. This is _the_ proper way to handle it. The chat event should _not_ be cancelled, because that implies

[2018-09-27 13:40] PrinceOfIonia commented on #495
Well, alright. Lets disregard session difficultly, for now, another question I'd like to ask is that is it possible to have some sort of gear on the mobs that spawn in a certain wave? And does it have to be all the mobs with the gear? Or maybe just a certain type (Zombie, Skeleton, Etc.)? And of course, avoiding touching NBT.

[2018-09-28 08:03] mibby commented on #395
If the goal is to not cancel the chat event but instead only change the recipients of who the message is sent to (participating players only), would it be possible to append a ConversationPrefix to the message and act solely as a message relay? That way MobArena would not have to change formatting styles defined across any variety of chat plugin and could just append a prefix configured as the Con

[2018-09-28 13:15] garbagemule commented on #395
We could easily tack a prefix on the message. That's not an issue in and of itself, but I don't think that's going to help much. Just to clear up any confusion about how chat events and the faux chat messages work:

When a player types in the chat, the message they type is wrapped in a chat event which is fired off. Let's say I type `hello`. We now have a chat event which consists of a message (`h

[2018-09-30 07:27] garbagemule commented on #495
As mentioned in the non-goals section, mobs are not the focus of this rework. The fact that we can use _different_ mobs in different parts of the sessions is enough. _How_ the mobs differ is irrelevant.

One thing that will definitely make it into this rework is the notion of pre-spawned monsters that aggro on damage and proximity. This will open up the possibility of arenas that are more like dun

[2018-09-30 22:59] BiGUNMAN commented on #466
I've tried to allow players to break wheat blocks. I basically did so by disabling Mob Arena protection, then I protected the arena with WorldGuard, paired WorldGuard with ExtraWorldGuardFlags: https://www.spigotmc.org/resources/worldguard-extra-flags.4823/ and you can do quite a lot basically.

[2018-09-30 23:02] BiGUNMAN opened #496 "Teleport to join location upon leaving"
**Short description**
A config option to teleport the player to the location where they typed /ma join from would be amazing.

**Implementation details**
Just a true/false option in the arena config that would override the leave location.

**Additional info**
n/a

[2018-10-01 05:17] garbagemule commented on #496
Just remove the exit warp from the config file:)

[2018-10-01 05:17] #496 closed

[2018-10-04 17:03] sepulzera opened #497 "Let pets teleport"
# Feature request

**Short description**

Classes may have pets like wolves. Pets are invincible and should be available for the class through the whole match. But when pets leave the arena (e. g. falling through a hole) they get removed (like any other entity).
On the other hand, pets can not teleport to the player if their distance increases too big, like they do in vanilla. But they should, in

[2018-10-04 17:50] PeterMaffay89 commented on #456
I vote for this feature.
By now, classes can be configured by using class-chests. But there is no similar way to upgrade those specific classes.

The setup could look similar to linked class chests:
`/ma classchest <class> <upgrade-wave-name>`

Example:
`/ma classchest Knight upgrade1`
config.yml:

config.yml:

    waves:
      single:
        upgrade1:
          type: upgrade
          [...]

[2018-10-04 18:23] sepulzera opened #498 "Max interval between two waves"
# Feature request

**Short description**

We should have a way to reduce waiting times between waves, while providing sufficient time to clear the waves, without giving infinite time to avoid abuse.

**Motivation**

There are currently two ways to setup the waves timing:
1. When setting **clear-wave-before-next** to **false**, next waves will start after the **wave-interval**. There are two downsi

[2018-10-04 19:04] garbagemule commented on #498
Thanks for the request.

We can't use wave-interval because it is already used to specify the minimum amount of time between waves. Reusing it to also denote the maximum time would effectively negate clear-wave-before-next, because wave-interval is now the exact amount of time that will pass between two waves.

I feel like different arena design can prevent a lot of the types of situations that re

[2018-10-04 19:59] PeterMaffay89 commented on #498
Well, maybe it is just wording that matters here.
What I want is similar to "using wave-interval but start the next wave when it is cleared".
For now, you still have to wait 110 seconds, if wave-interval is set to 120 and you clear the wave within 10 seconds.
That waiting is boring.

And I doubt you can effectively prevent stop idling players with redesigning the arena only. It is too easy to runa

[2018-10-04 23:02] Kryniowesegryderiusz opened #499 "Couldnt enchant items in classes"
I have:
[code]

It says:
`Invalid key. Must be [a-z0-9/._-]: DAMAGE_ALL`

[2018-10-05 07:06] SaitDev commented on #499
use `damage_all:1`

[2018-10-05 07:16] garbagemule commented on #499
Please use Discord for support and questions. Thanks!

[2018-10-05 07:16] #499 closed

[2018-10-05 07:20] PeterMaffay89 commented on #498
Guess I was taking this too easy. I updated the request text.

This is the real point I think. I _do_ want to give sufficient time for each wave. Obviously a simple fixed wave-interval will not. That is the purpose of **clear-wave-before-next=true**. But I _do not_ want to give infinite time, to avoid camping or glitches.

I was just giving some ideas to put this into practice.

[2018-10-13 10:56] Sandukhan opened #500 "Wrong enchantments IDs"
According to the mobarena wiki, items can be enchanted by using the the enchantment enum of the Bukkit API. However most of them dont work, but older enchantmentIDs still do.

For example as reward:

'6': enchanted_book durability:3 ---> dosnt work

'6': enchanted_book unbreaking:3 ---> does work

Im using mobarena 0.103 on spigot 1.13.1 (f6a273b-e3d7b2f) latest build

[2018-10-14 03:02] garbagemule commented on #500
Thanks for the report!

Which of the two possibilities would you prefer? Do you have enchantments in config files or commands of other plugins, and if so, which approach do they take?

[2018-10-14 07:47] Sandukhan commented on #500
It would make sense to use the enchantments of the Bukkit API, since materialID and portions already do so, that would be coherent.
On my server we are using both command based special items (with lore, modifiers...) and items that mobarena can provide, wich are most of them as rewards. For classes we are unsing items from chests and in my opinion thats the best way to add customized items into mo

[2018-10-15 13:12] mibby opened #501 "NullPointerException: null - Location.getBlock"
Paper dev 366 (Spigot 1.13.1)
MobArena 0.103.1-SNAPSHOT as of commit https://github.com/garbagemule/MobArena/commit/d9b9b2493cbe8eb7e4dafd66c35a954afa0df338

[code]

This error spams when a player tried joining the MobArena in a 1.13.1 environment. I use class chest locations instead of config based inventories.

[2018-10-15 14:56] garbagemule commented on #501
The world of the Location is null. Try resetting the class chest locations or double check the world name in the class chest location in the config-file. The only other thing I can think of is the world of the location not being loaded by the time MobArena parses it.

[2018-10-15 14:56] #501 closed

[2018-10-15 23:15] mibby commented on #501
The location and world exists as configured from 1.12.2. It is located in a separate ```void``` world with the actual mobarena build. The chests exist and have all their correct item contents.

I can only assume perhaps something changed with 1.13 where MobArena is not able to load the chunk to get the data to parse. Or perhaps it is a compatibility issue with Paper (Spigot Optimized Fork)?

[2018-10-16 02:38] SaitDev commented on #501
Can you try with async chunk loading turned off?
`settings.async-chunks.enable` false

[2018-10-16 14:32] garbagemule commented on #501
Yeah it's probably a null world (Paper's Bukkit source is probably different from the Spigot one, because line 100 in the Bukkit source I have points to a line that can't throw an NPE). MobArena just blindly trusts that the world exists and is returned by Bukkit's getWorld(String) method. But if the world isn't loaded, chances are that the method returns null. MobArena can't look up chests in or t

[2018-10-16 21:12] mibby commented on #501
MobArena use to call the chest chunk location when it needed to load it in 1.12 and the world _does_ exist (is loaded). It teleports players to the same world the chests are located in, just the chests aren't near the arena. I'll try moving the area so it loads the chests in the same chunk the lounge is at, but it seems like a deeper issue if it use to work with 1.12.

As for the exit warp locatio

[2018-10-16 21:34] aikar commented on #501
no this has to deal with worlds not chunks. they are different.

[2018-10-17 09:10] mibby commented on #501
The only other thing I can think of is it being an issue with Multiverse-Core. I've been using @Brokkonaut's updated fork here https://github.com/Brokkonaut/Multiverse-Core/tree/updated and just tried reverting the removal here https://github.com/Brokkonaut/Multiverse-Core/commit/46f973f95daabc02a0c286ab47f6f8b35ddcde92#diff-8aab397e345c135301820ecdc68306acL39. However, still no luck on my end. Mo

[2018-10-21 22:37] Kainzo commented on #495
Is it possible to have MythicMobs integration?

[2018-10-21 22:47] Kainzo commented on #362
I really would like to have MythicMObs integration, its not just a "plugin" it is a staple for any RPG server.
My alternative would be to fork and add this support but it would be a headache to maintain for years.

Would love to see this happen and if you need a mind to bounce ideas off of, I can help.

[2018-10-24 15:12] SXRWahrheit commented on #362
@garbagemule Is there any documentation for that extension?

[2018-10-24 15:42] garbagemule commented on #362
@SXRWahrheit You'd have to ask @SaitDev about that :)

I'm pretty sure you just use the names of your MythicMobs in MobArena's config-file. MobArena's MACreature strips the names of some punctuation and lowercases everything, but so does the parser, so I'm guessing things should work just fine if you match the names exactly. But chances are `KillerBob` and `killer-bob` will be interpreted as the s

[2018-10-25 06:47] SaitDev commented on #362
add readme and link download test build. i'll write wiki upon more stuff are done

[2018-10-25 11:58] mibby commented on #501
I spent a while getting to the bottom of this issue. It seems to be an issue with the plugin PlotSquared. I'm not sure why it works with 1.12 and breaks with 1.13, but the issue does seem to stem from PlotSquared being installed. I'll forward the issue to the correct developers. :)

[2018-10-28 01:14] mibby opened #502 "Inventory loss when dying while spectating."
MobArena compiled as of commit https://github.com/garbagemule/MobArena/commit/d9b9b2493cbe8eb7e4dafd66c35a954afa0df338
Paper dev 405 (Spigot 1.13.2)

Players in the spectate state - either by joining via ```/ma spectate``` or being brought to spectator when dying in an arena with the game still on-going - can take damage and die. Tested with taking fall damage, unsure if you can also starve. If yo

[2018-10-28 18:55] garbagemule commented on #502
What state is the player in after respawning? Where do they respawn? Are they still "spectating" so MobArena wants them to /ma leave? Or do they get thrown out back to where they joined or the exit warp?

[2018-10-29 10:07] mibby commented on #502
You get kicked out of the arena and brought to the exit location. Except your inventory is wiped. Typing ```/ma leave``` does not kick you out as you are no longer part of the arena.

[2018-11-09 10:14] HansscMe opened #503 "BungeeCord Support"
# Feature request

**Short description**

Every server is a arena.
Player who is in the lobby server can join the game in a mobarena server.

**Implementation details**

**Additional info**

Nothing.

[2018-11-17 18:37] RubenStryker commented on #500
Still not solved?

[2018-11-17 19:01] SaitDev commented on #500
@RubenStryker use name from vanilla instead https://minecraft.gamepedia.com/Enchanting#Summary_of_enchantments
Eg: `fire_protection` instead of old id `PROTECTION_FIRE`

[2018-11-18 16:03] Nesseley commented on #502
For later: This is a issue when the spectator area is NOT a part of the arena area (/ma setup part).
Players can starve, take dmg and pvp.

Easy fix for server-owners: Make the spectator area in the arena area (the golden axe in setup)

[2018-11-18 18:32] garbagemule commented on #489
@mibby @Ferocimo could you guys please verify that this is mainly an issue with rewards?

@PetricorCraft pointed out that it is possible to work around the issue by using CommandThings instead of ItemStackThings, i.e. granting the items via the /give command instead of via MobArena's item syntax. It _should_ also work for class items (but probably not armor) and upgrades.

If it's possible to comp

[2018-11-18 18:33] garbagemule commented on #494
Let's track this on #489, since they are basically the same thing :)

[2018-11-18 18:33] #494 closed

[2018-11-18 18:55] garbagemule commented on #502
During today's MobArena jam we found a fix for this. @mibby if you'd like to test it out before I push and release it, that'd be awesome - I'll throw it up on Discord if you hop on :)

[2018-11-18 19:08] garbagemule commented on #500
@SaitDev thanks for the link :)

I've updated the Item Syntax page to reflect the behavior we're seeing. I hope it's clear enough now.

@Sandukhan feel free to close the issue if you think it is resolved.

[2018-11-20 15:09] SaitDev commented on #320
Hi, try adding support for bungeecord to solve this issue but I fail it. The solution now fall back to https://github.com/garbagemule/MobArena/issues/395#issuecomment-350043365
Question: your cross server chat is being implemented by ChatControl or what plugin, and all normal chat is sent to other server? @mibby

[2018-11-26 08:11] SaitDev commented on #395
mobarena extension now support discordsrv, isolate chat wont be sent by discordsrv.
Also placeholderapi as well, here what I test with my chat plugin venturechat
chat config: `format: '{mobarena_arena_prefix}&r&o{nickname}&r:'`
result: https://imgur.com/a/CMHk4Jk
ChatControl Pro is supporting placeholder api https://github.com/kangarko/ChatControl-Pro/wiki/Variables
If you see this solution give e

[2018-11-27 12:44] Ferocimo commented on #489
Yes it's possible to work around the issue using command rewards, although I don't like that very much since it seems like a glitchy way of giving rewards.

[2018-11-27 13:22] garbagemule commented on #489
@Ferocimo there is nothing glitchy about it. ItemStackThings are given to the players via the standard Bukkit API calls, which effectively do the same as the `/give` command. It's essentially as vanilla as it can possibly get. And since rewards are never taken from the players once granted, there is no issue with any of the revocation logic in the plugin. The only thing you definitely can't use it

[2018-11-30 20:14] UndeadGamingCentral opened #504 "Boss announcements"
# Feature request
Separate boss announcements.
**Short description**
Being it so we have killing a boss read "Player has killed [boss name]" instead of just "Player has killed the boss!"
At the moment we can only have killing a boss or another announcement be one selection, which I am requesting we have it per arena in the arena config.

**Implementation details**
Per-arena announcements

[2018-11-30 21:39] garbagemule commented on #504
I think this is much too narrow in scope. Why should boss announcements be any different than other announcements?

We can do better.

Can you rephrase the feature request to something that encapsulates the announcement system as a whole instead of just one specific announcement? It seems as though the announcement system is due for a rework that allows for more than one variable per announcement,

[2018-12-01 14:12] Straiker123 opened #505 "EssentialsX god"
Hello i have problem.. i using essentialsX and if player have god on plugin do not turn god off.. please help

[2018-12-01 16:08] Straiker123 commented on #505
ok

[2018-12-01 17:30] UndeadGamingCentral commented on #504
Adding this will help servers with multiple arenas setup seperate announcements per arena. Letting players know what boss was fight, died to, killed and more. As for a config-file split, that would help better find arenas to edit instead of looking through 1 config file to find an arena to edit.

[2018-12-08 14:59] garbagemule commented on #504
Okay, here is an example of how a suggestion like this could be sufficiently detailed, such that someone might actually begin to work on an implementation.

The important thing here is the attention to user-facing detail. It isn't really all that interesting for server-owners to know about implementation details, but it _is_ necessary for server-owners to have opinions about how they would like to

[2018-12-21 09:47] Klawdek opened #506 "Leaderbaord only shows one player"
**Short description**

The leaderboards only display the last player to play instead of multiple players.  Only one line is listed and it gets replaced with the next one rather than a list being made.  That is player X plays and is listed on leader board.  Then player Y plays and instead of be listed on leader board along with player X it replaces player X.

When I join the arena, X doesn't work.

[2018-12-21 09:54] Nesseley commented on #506
Leaderboard is only displaying last session played of the arena. It's not tracking and saving any stats, only showing last game played. :)

But I don't know about the error. So someone else have to check on that.

[2018-12-21 10:19] SaitDev commented on #506
The error link is fake. Please do not provide fake error if there is not any error messages on the log

[2018-12-21 10:20] SaitDev commented on #506
Opps. That the default link from the template :D

[2018-12-21 13:19] garbagemule commented on #506
Like Ness says, this is the intended behavior of the leaderboards. There is a suggestion for persistent stats in #162. If that issue isn't sufficient, please make a new feature request following the template.

[2018-12-21 13:19] #506 closed

[2018-12-21 17:03] Klawdek commented on #506
I am sorry I had no idea what scoreboard vs leaderboard meant.  Perhaps it could be made more clear in the docs.  My players pointed this out to me as something "broken".  So it seems that players expect it to behave that way the first time they look at it and when it does not they think it is broken.

[2018-12-21 17:40] garbagemule commented on #506
No worries. Lots of people want persistent stats for display on signs and server websites. We'll get around to it eventually...

[2018-12-25 05:30] mibby commented on #395
Thanks @SaitDev! I'll give your extension a test and see if it is exactly what I'm looking for.

[2018-12-25 06:13] SaitDev commented on #395
that was old build, i just update link to latest

[2018-12-25 06:40] mibby commented on #395
I noticed and already grabbed the latest. :P Appreciate it though! I'll give it a test in a little bit.

[2018-12-30 13:05] #502 closed

[2018-12-30 13:14] garbagemule commented on #497
Sorry for the super late reply.

Currently _all_ entity teleport events are cancelled if the teleportation is from or to the arena region. I can see that it makes sense for pets to teleport back to their owners, and I think it is a pretty simple fix. Would you be interested in testing out a dev build if I whip something up? If so, please hop on the MobArena Discord server :)

As for allowing hosti

[2018-12-31 13:20] #497 closed

[2018-12-31 13:52] #446 closed

[2018-12-31 13:52] garbagemule commented on #446
Fixed in the next release!

[2019-01-02 00:11] mibby opened #508 "Investigate / rework teleport join sequence to improve state switching if going into spectating."
Paper dev 489 (Spigot 1.13.2)
MobArena v0.103.1

When you die in the arena, you are forced to spawn for a split second, sometimes up to two. Then you are brought to the spectator area. The join sequence seems to be ```Battle Location > Exit > Spectator``` instead of ```Battle Location > Spectator (if game is still on-going) > Exit```.

However the main concern about the spec lag is due to my spawn

[2019-01-02 07:31] garbagemule commented on #508
Here's the "offending" commit from 8 months ago: https://github.com/garbagemule/MobArena/commit/b1c6b618279fd181799aeafdb041ad2d1775a585

I need to elaborate on at least one of the edge cases that the current approach solves.

Teleporting is one of the most overloaded "operations" in the Bukkit API, since it also covers world changing. And because it covers world changing, it also implicitly cover

[2019-01-08 23:49] SoraShiunin commented on #495
Environment events could be made by the user placing signs(which would act as toggles) with a name in the first line, which is then configurable in the config to have an effect on the environment, like that sign becoming a mob or a portal or a block anytime on a timer(or random timer) or per wave. Naturally this sign would become an invisible armor stand when the mob arena isn't in edit mode also

[2019-01-15 18:48] SoraShiunin opened #509 "Built-In Anti-Cheat Toggle"
# Feature request

**Short description**

Option in config to disable the built-in anti-cheat of mobarena.

**Implementation details**

Could be a global option to toggle the anti-cheat(preferable and easier) or a per-arena toggle.
It helps alot with the compatibility with certain plugins that give Powers such as flight and such and has it as a main gameplay feature of the server and is included i

[2019-01-22 16:09] SoraShiunin commented on #509
I generalized but mostly I do mostly mean the anti-flight, yes, as it keeps un-flying the player.
A toggle to turn that off would be great to improve compatibility with any plugin that would add gliding, flight and other things related like hooks that would use the flight flag.

I do consider anything that doesn't interact with the "player VS mob" directly more of an anti-exploit, such as the play

[2019-01-23 01:56] SaitDev commented on #509
In my opinion, allow flying while fighting pure vanilla mobs would be so OP unless your arena is fullfill with bosses that have skills / wither / ender dragon :thinking:

[2019-01-24 18:09] Kalevr1 commented on #495
Non linear Progression: This would be great. You could either branch according to milestone OR you could respawn dead comrades a la "Left For Dead," once milestones are reached. You'd have to define what valid milestones are. Like reaching a block/pressure plate, killing a mob, or maybe both.

Interaction with the environment: This was the first need I recognized while building my arena. I'd like

[2019-01-27 10:45] Lordeath19 opened #510 "Any plans to move to sponge?"
Just wanted to ask if you are willing to create a port for mob arena to sponge, as all alternatives died out due to legal reasons, sponge is the only way to play forge with plugins.

Your plugin is one of the best plugins for a casual server and i would hate to miss out on it in forge

[2019-01-27 11:20] garbagemule commented on #510
I was along for the Sponge ride in the beginning. Back then, it looked like Bukkit wasn't going to make it, and for that reason, the plan was to port MobArena to Sponge so that it could live on.

Bukkit prevailed, though, and a vast majority of servers stayed on Spigot's fork of Craftbukkit or switched to Spigot. Sponge is very clearly active, but it lost a lot of the initial momentum it had from

[2019-01-27 12:18] Lordeath19 commented on #510
Wait so you're telling me that spigot/bukkit actually do work with forge?

I was under the impression that sponge was a last resort that all forge servers had to fall to.

I would gladly use your plugin in forge if it's supported in craftbukkit/spigot

[2019-01-27 12:36] garbagemule commented on #510
I have no clue about the Forge community and platform. Except that MobArena worked perfectly fine with Cauldron (even with custom mobs thanks to a bit of work with bloodmc), which was a Forge/Bukkit server.

If you run a server that implements the Bukkit API, then you should be able to run MobArena on it. But Sponge doesn't implement the Bukkit API. Maybe an adapter layer exists, but I don't know

[2019-01-27 12:54] Lordeath19 commented on #510
Welp, thanks anyway.

I guess i got my answer

[2019-01-27 12:54] #510 closed

[2019-01-27 23:19] ZonK256 opened #511 "Displaying players health in scoreboard"
# Feature request

**Short description**

It would be nice to have an option what to display using scoreboard. Right now there's only kill counter, while displaying hp could be more useful (especially for support classes).

**Implementation details**

The best way would be the per-arena setting, in which it could be chosen, if scoreboard should display kills, or current xp.

[2019-01-28 04:05] mibby commented on #395
@garbagemule I believe you may have broke the isolated chat feature in MobArena or @SaitDev, the placeholder is not detecting it and is overriding as public chat? :( Players inside the arena seem to be able to chat publicly with isolation turned on.

![link](https://i.imgur.com/0zYflgE.jpg)

MobArena version 0.103.1
MobArenaExtension version 0.1-SNAPSHOT (dev 19)
ChatControlPro version 7.11.11
Pap

[2019-01-28 06:57] mibby commented on #395
That seems to be the case, yes. Which leads me to believe isolated-chat is actually not functioning as intended.

[2019-01-28 07:31] SaitDev commented on #395
I test on paper 1.13.2 - 509 with venturechat instead of chatcontrolpro but no issue. Unfortunately i dont have chatcontrolpro to try it out

[2019-01-29 19:13] Sandukhan opened #512 "Disappearing wood and useless phantoms"
# Bug report

**Short description**

**_wooden blocks_**
There seems to be a problem with mobarena and wooden blocks, because they keep disappearing after a arena has been used. Not all at once but a random 1-3 after every run. They even keep disappearing after editing a arena, putting them back in place and for the most time its these same blocks again.
However thats only seems to be a issue with

[2019-01-29 19:15] Nesseley commented on #512
I had this problem when using TOWNY's regen feature.

[2019-01-29 19:16] Sandukhan commented on #512
We dont use Towny on my server.

[2019-01-29 19:17] garbagemule commented on #512
Can you reproduce it on a clean setup with just MobArena and no other plugins?

[2019-01-29 21:02] Sandukhan commented on #512
I did some quick tests now and with mobarena as only plugin on the server i didnt run in the same issues with wooden blocks yet. I startet to add more plugins, that could meddle with ma like worldedit and worldguard, but nothing so far.
Im still a bit suspicious of logblock, since i hadnt the proper database setup for that on my test server, but thats just a guess.

I coundnt see any connection, t

[2019-01-30 00:16] garbagemule commented on #512
It's really confusing to have two different and unrelated issues in the same issue.

The wooden block issue doesn't seem to be caused by MobArena. It could be that block breaks or explosions are cancelled, but whatever other plugin is interfering is trying to do its own restoration or something.

As for monster behavior, MobArena doesn't tinker with it in any way except by setting targets and by c

[2019-01-30 00:18] garbagemule commented on #511
Perhaps it would be better to use a different plugin to show the health of other players? Aren't there plugins out there that specifically target the scoreboard and does a bunch of stuff with them, and can't they be employed here? I don't think MobArena should do something like this if it's possible to do it with a different plugin that does it better anyway.

[2019-01-30 08:39] ZonK256 commented on #511
I have concerns if it really would be better:

- It should be displayed in sidebar for better readability,
-  It should only display and be displayed to alive players inside arena,
-  It should display players' health before targeting them (AFAIK other plugins tend to display it after entering pvp)

I'm not talking about some super fancy stuff, just a straight-forward display like scoreboard in va

[2019-01-30 23:41] garbagemule commented on #511
But surely there are sidebar plugins that show health of nearby players or something like that. Or maybe not? I just feel like this is a very specific thing that another plugin could actually do way better than MobArena could. I know some server owners are using plugins to display player health for healers and such. I don't know how they work or what they do, but they seem to be quite content with

[2019-01-30 23:56] ZonK256 commented on #511
Well, I don't know if there's any plugin that would do so (at least not free to use plugin) and be also so tightly integrated with MA (displayed only inside arena, during play etc.).

I'm not sure, if I explained it properly: I meant exactly

When I was saying about config, I meant changing it for specific arena (when it would make more sense). I mentioned support classes only to give an example "

[2019-01-31 00:09] garbagemule commented on #511
Yeah, so actually making it configurable as a per-arena setting is more work than simply changing from kills to health - but that won't happen because it means breaking existing functionality that there's a good chance someone is actually using and enjoying. So if this is going to be implemented, it has to be configurable.

Now, what does it mean to display health? Is it the percentage? Absolute c

[2019-01-31 17:33] Nesseley commented on #495
_Without reading the messages above, I suggest this:_

**A more dungeon-like arena.**
To give server owners more freedom to a more open and planned experience it would be great to implement a way to configure the exact thing you want to happen.
_When does it happen? What will happen? When will it happen? What happens after?_

The config would be able to set manual spawns per wave, instead of the n

[2019-01-31 18:00] JustMeForFun commented on #495
First of all, thx for the credit ^^

Also, i don't know code so i cant give actual examples and i'm not a native english speaker so sorry in advance for any spelling or grammar mistakes.

Another idea to use this mechanic is to use it for area's. With just spawning a redstone block to active redstone powered doors the doors people will build are limited by how big the redstone behind the door can

[2019-02-01 20:23] Kryniowesegryderiusz commented on #511
I would also love to see that. Also you maybe should consider rebuilding scoreboards. It is possible to change language of everything, but unfortunatelly not scoreboard. It's also possible to display two scoreboards for ex. 10 sec each. Then you dont have to choose between health and kills. You can have both. And the most common style of displaying health is %actual_health%/%maximum_health%. And i

[2019-02-03 09:52] mibby commented on #395
@garbagemule Any ideas? :( ChatControlPro shouldn't be sending chat any differently than normal global public chat. I believe MA is either not isolating or getting the list of active participants to send chat to wrong.

[2019-02-03 13:34] #509 closed

[2019-02-03 14:09] garbagemule commented on #395
There have been no changes to how chat is handled since the feature was introduced.

As always, test on plain Spigot with nothing but MobArena installed. I can't currently test this myself, but give it a whirl. If it works in that setting, your princess is in another castle.

[2019-02-08 08:36] TheBigDeal opened #513 "Crash when players Max Health is below the default value of 20"
As title says.
Console reads this error:
https://pastebin.com/s7u8yWWQ

[2019-02-08 09:40] Nesseley opened #514 "Starving in Lobby with `lock-food-level: true`"
# Bug report
**Short description**
You lose hunger if you run in the lobby region. (Even if the region is inside the arena-region.)

**Reproduction steps**
1. Setup an arena with `lock-food-level: true`
2. Join the arena.
3. run.
4. lose hunger.
5. If you start the arena you will have less hunger, and can't heal bc you dont have health for it. (food-regen: true)

**Details**
* **MobArena version**

[2019-02-09 20:58] garbagemule commented on #514
A lot of the in-session settings only work in-session. The lobby is in a strange spot because the arena isn't running when people are in the lobby, so the "is running" check always fails for the lobby phase.

https://github.com/garbagemule/MobArena/blob/master/src/main/java/com/garbagemule/MobArena/ArenaListener.java#L951-L961

Seems like this would be fairly straightforward to fix. Good first iss

[2019-02-09 21:00] garbagemule commented on #512
Closing this because there isn't much we can do about either issue.

The monster behavior issue would probably be a good topic of discussion for the mobs rework once the sessions rework is done. But it's a much bigger topic than just phantoms and drowned, so it'll need a more thorough look.

[2019-02-09 21:00] #512 closed

[2019-02-11 10:11] TheWranger commented on #495
As discussed in the Discord; I think it would be great if we had sort of way to make it so that players can bring in their own items and then possibly die and lose these items that they bring in. This would seem more vanilla-like and less of a minigame.

[2019-02-15 12:08] minoneer opened #515 "MobArena interferes with other plugins teleport event cancellation"
# Bug report

**Short description**
When any other plugin cancels the PlayerTeleportEvent, MobArena uncancels the event afterwards. Tested with end gateways - player was not in an arena (neither the location nor joined via command).

**Reproduction steps**
1. Load a plugin with a teleport listener that cancels player teleport. Then load mobarena. Teleport player - the event will not be cancelled.

[2019-02-15 16:03] garbagemule commented on #515
Thanks for the bug report!

Just to make sure I understand... The issue here isn't that MobArena doesn't behave as it should *in the context of MobArena itself*, but rather than it *overreaches* and breaks some sort of functionality outside of its own context, right?

So, MobArena sometimes cancels PlayerTeleportEvents that it shouldn't? The provided link shows the exact line that cancels the even

[2019-02-15 21:25] minoneer commented on #515
Hey, thanks for the quick reply!

This is correct. When playing mobarena itself, everything behaves as expected. The problem occurs with teleports completely unrelated to any mobarena.

The oppisite is the case - MobArena _allows_ teleports that other plugins have cancelled - that is it sets cancelled to _false_ even though a different plugin previously set it to _true_.

I can confirm that this i

[2019-02-16 01:56] garbagemule commented on #515
Ah, I typed the opposite of what I was thinking in that first line. But it looks like I understood the problem.

I think the issue can be solved by moving the permission check down into the region checks, such that MobArena only rejects the teleport in the places that it currently rejects them in if the player doesn't have the permission, and otherwise responds with an IDGAF.

You seem to be code

[2019-02-16 12:21] garbagemule commented on #515
Actually, I think just moving the permission check out into the MAGlobalListener before the arena loop would solve the issue as well. It's essentially a short-circuit permission that should tell MobArena to leave the event alone and let whatever happens happen. If the player can't teleport despite having this permission, it's a different plugin interfering and thus not MobArena's problem to deal w

[2019-02-16 12:46] garbagemule commented on #513
I've implemented a fix for this issue that I'd like you to verify, if you have time. Please hop on Discord for the build :)

[2019-02-16 14:44] minoneer commented on #515
Yeah, that's what I thought. Just wanted to make it clear to avoid confusion.

I could have - but apparently you already got it covered ^^

Yes, I think that's a valid approach. Players with the MA override permission should usually also have other teleport override permissions so there should be no interference with MA teleports.

Another valid approach I see would be to check the permission righ

[2019-02-16 15:09] garbagemule commented on #515
Hmm, your suggestion is definitely a more "exact" solution to the problem. By removing the permission check from the arena listener code, the problem is fixed. But to preserve the permission semantics, the check has to happen somewhere else, and maybe it makes more sense for the check to just result in MobArena not canceling in situations where it normally would. Sounds more intuitive than a flat

[2019-02-16 15:21] minoneer commented on #515
I don't see the changes you made anywhere, but this change should do it:

[code]
https://github.com/garbagemule/MobArena/blob/fc8debca296fc770aa16d7f76cf4489ac4ddab50/src/main/java/com/garbagemule/MobArena/listeners/MAGlobalListener.java#L369

And removing the previous override check of course.

[2019-02-16 16:36] #513 closed

[2019-02-16 16:36] #515 closed

[2019-02-21 00:19] novaaerix opened #517 "Respawning and Restore on Respawn"
# Feature request

Mob Arena should implement a feature where players can respawn/come back into the arena after they die. When they die on a wave, they come back the next wave as normal with their selected class. With this idea, there could also be an implementation of a way to reset a player's class if they died with some form of enhancements such as enchants, different armor, etc.

Example: Pla

[2019-02-22 04:23] ZonK256 commented on #457
I feel that not every wave type would benefit from being configurable by chests.

- Item based waves (supply, upgrade) would benefit from this easily (custom items, instant refresh without need to reload plugin)

- Monster based waves would be IMO much worse to configure via chests rather than other solutions (like inventory GUI), because of higher possibilities of configuration (amount, health, e

[2019-02-24 13:38] Kappable opened #518 "Logs, Grass, Tall Ferns"
# Bug report**Short description**

Players can strip logs, break tall ferns and bosses can turn grass paths back into dirt.

**Reproduction steps**

1. Join an arena with /ma join
2. Hit a sign to pick a class
3. If the class has an axe, the class can strip logs. (I assume works with grass paths as well, via shovel)
4. If there is a tall fern, the player can break it.
5. Obsidian bombs placed by a

[2019-02-24 14:03] Kappable opened #519 "Fire Aspect not working in Mob Arenas"
# Bug report

**Short description**

Mobs in the arena are lit then the fire immediately goes out if hit with a fire aspect enchantment.

**Reproduction steps**

1. Join an arena with /ma join
2. Hit a sign to pick a class with a fire aspect enchantment.
3. Hit a monster.
4. Watch the fire go out instantly.

**Details**

* **MobArena version**: (0.103.1)
* **Server version**: (Paper 530/Paper 514)

[2019-02-24 17:39] Nesseley commented on #518
Did some testing myself using 0.103.02-SNAPSHOT and:

- After stripping a log it will also be removed on arena end.
- The ferns is working on a clean setup (tested with Kappable/gabe on Discord)
- Obsidian bombs are also breaking "farmland" because placing a block (obisidian) on top of these blocks will turn them into dirt instantly.

[2019-02-27 16:00] Kappable commented on #518
The fern issue is caused by a CraftBook mechanic called BetterPlants.

[2019-02-27 18:09] PetrichorCraft opened #520 "Level 2 / Extended Potions Via Config File"
# Feature request

**Short description**

We should have a way to add level 2 and extended potions to classes via config file. (I think you were able to accomplish this in earlier versions, but support was dropped in... 1.12? 1.13? So this is only relevant for later versions)

**Implementation details**

I don't have a strong opinion for how this should be done, but I have ideas! I'm going to use

[2019-02-27 18:13] PetrichorCraft commented on #520
I just noticed a miss-type, but I can't edit. I meant to say that potion:speed_2:1 would give 1 drinkable potion of level 2 speed.

[2019-02-27 21:57] El-pika commented on #520
This is a really good idea, this would be easy to explain and to handle. But better do it this way
potion:extended_speed:1
potion:speed_2:1

This way you can also type potion:extended_speed_2:1 to get the better one

[2019-02-27 22:02] PetrichorCraft commented on #520
I think that's a great idea, assuming it's possible!
I'm just not sure, since it would force MobArena to create a new type of potion (I think), as there aren't extended level 2 potions in Vanilla Minecraft. (At least not in the creative inventory, there may be another way to get them that I'm unaware of)

[2019-02-27 22:05] El-pika commented on #520
My bad i was sure you could have an upgraded AND extended version of potions.

But in that case maybe just "add" the _upgraded for level 2 and _extended for longer.

[2019-03-04 00:32] mibby opened #521 "Whitelist Citizens NPCs from arena entity purging at plugin initialization and reload."
RE: Discord #testers discussion.

Would be nice to decouple Citizens NPCs from the arena entity purging at plugin initialization / mobarena reload to serve as a sort of whitelist to keep important NPCs alive in the arena. So if you have class upgrade shops via plugins like ShopKeeper, those entities can remain existing.

Citizen NPCs can be checked via their metadata, i.e.
https://github.com/Engin

[2019-03-04 22:44] garbagemule commented on #518
@Kappable can we close this issue then?

[2019-03-04 22:51] garbagemule commented on #520
Do we have any examples of how this is done in other plugins? I'd like for this to match some sort of de facto standard if there is such a thing - I much prefer "ah, of course, like in X" reactions than "wtf why is it not just like in X?" reactions.

[2019-03-05 00:43] garbagemule commented on #521
Alrighty, so the idea here is to actually reduce the otherwise gnarly and unwanted plugin integrations with a simple metadata check, which is completely decoupled from any specific NPC plugin. As long as the NPC plugin adds a metadata property with the key "NPC", this approach should work.

Here's what I'd like to see investigated before I implement this:

- What, exactly, are we doing with these

[2019-03-05 02:36] blablubbabc commented on #521
For consideration:
* It would be nice to not limit this to Citizens NPC's "NPC" key. Different NPC plugins will likely use different keys to avoid collisions and interoperability problems with plugins that assume that some specific key belongs to a specific NPC plugin (since there is no clear definition for what it means for an entity to be tagged with "NPC", without considering which plugins actu

[2019-03-05 07:13] Nesseley commented on #518
The log stripping is still a bug tho?

[2019-03-05 15:28] Kappable commented on #518
Log stripping is still an issue, as well as grass paths of course but I'm not sure if that will ever be fixed. Soft-restore doesn't seem to fix Logs for me either, it just removes them.

[2019-03-05 22:33] garbagemule commented on #519
I'm worried that this is not gonna be fixable due to the way combustion works. I'll have to look into how combustion events are categorized. If we're lucky, combustion from a fire aspect enchantment can be distinguished from combustion by daylight.

Relevant part of the code base: https://github.com/garbagemule/MobArena/blob/master/src/main/java/com/garbagemule/MobArena/ArenaListener.java#L846

[2019-03-05 22:41] garbagemule commented on #517
This suggestion encapsulates what can pretty much be categorized as a separate "game mode". There is absolutely no way the current code base can support this kind of functionality, but it does make for a potential stretch goal for the flexibility aspect of the sessions rework. There will likely be a ton of really gnarly edge cases, so I don't think it should be part of the initial draft.

[2019-03-08 06:28] TheWranger commented on #495
Could we also get some way to customize the formula used for `base`? I would like to allow players to use their own items, but then players with stronger gear will not want to participate in games that are with weaker players due to more mobs being spawned in. I'd like to decrease how much the mob count is affected by the player count.

[2019-03-08 12:59] garbagemule commented on #495
@TheWranger it's fine to leave it here. And it's a nice little topic for discussion. I want to address two things: balancing challenges in general, and expressing different opinions as behavior strategies in the plugin.

To understand why MobArena uses the base player count rather than the current player count, we have to talk about MobArena's primary source of inspiration for various implementati

[2019-03-10 04:30] M4rtyn4 opened #522 "Can't set up points warps"
Hi, I can't set up any warps it's doing nothing when i click only showing in chat. Current warp: arena, Current warp: lobby...
I got this error:
[https://pastebin.com/u8CG8EDf](url)

[2019-03-10 07:37] garbagemule commented on #522
Please hop on Discord for support questions :)

[2019-03-10 07:37] #522 closed

[2019-03-19 09:48] El-pika commented on #520
Here you have the Minecraft id :
minecraft:potion{Potion:strong_swiftness}
minecraft:potion{Potion:long_swiftness}

I'm quite sure everyone will find it easy enough to use !

Here is my source :
https://minecraftitemids.com

[2019-03-22 02:43] mibby opened #523 "Default class still requires players to pick a class before they can ready up."
MobArena discord test build 02/16/2019
Paper dev 570 (Spigot 1.13.2)

@garbagemule I only have a single class configured in my MobArena since I've been toying around with the idea of players upgrading their class by purchasing items as they survive more waves.

I noticed that when I join the lounge and ready up by hitting the iron block, it states I must first choose a class. However I have it con

[2019-03-22 09:06] garbagemule commented on #523
I've never experienced this myself. When I use a default class, I am assigned to that class on join, and I can punch the ready block and start the arena. I haven't used class limits, though.

A class limit of 0 will block that class entirely from the arena. Use -1 for unlimited.

[2019-03-23 04:21] Trenly commented on #162
I would really love to see all-time stats like Total Kills, Games Played, Waves Played, Highest Wave Reached, etc. I think the stats system has been lacking for some time, and that this should be made a higher priority

[2019-03-23 07:03] mibby commented on #395
@garbagemule I've finally had the time to test this issue again but for the life of me, I simply cannot figure out why isolation doesn't work.

The setting is enabled.
[code]

Disabling MobArenaExtension plugin, isolation _still_ does not work using the discord test build as of 02/16/19.

Paper dev 571 (Spigot 1.13.2)
ChatControlPro v7.14.1

This use to work fine with an earlier MobArena version w

[2019-03-24 04:01] mibby commented on #523
Maybe it was an issue with auto-assigning users to the class with the limit set to 0? I'll have to double check later tonight.

[2019-03-24 05:01] mibby opened #524 "Re-check player inventory to respawn pet wolves if they have new bones in their inventory."
# Feature request

I do not currently provide bones to my players as their class starting item before the game starts. Instead, I allow players to earn gold for surviving waves and be able to purchase certain items for upgrades.

If a player purchases a bone, the bone does not turn into a wolf the following round. Would it be possible to check for new bones so they may spawn as tamed wolves?

[2019-03-24 07:02] mibby commented on #523
Re-testing, unfortunately it seems it is _not_ related to the class limit being set to 0. I set the class limit to 1, the default-class to Potions, and the only configured class is Potions which uses a classchest location.

Joining the MobArena, I do not get the class items. Hitting the iron block outputs ``You must first pick a class!``.

Only after typing ``/ma class <name>`` or hitting a class

[2019-03-25 17:37] kangarko commented on #395
@mibby if ChatControl should cause that, it's probably a priority issue

Try changing our event priorities of Listener according to this guide: https://github.com/kangarko/ChatControl-Pro/wiki/Listener-Priorities

[2019-03-26 00:59] mibby commented on #395
@kangarko I tried the following but nothing seems to work.

Original settings.
[code]

Lowered
[code]

Lowest
[code]

Removing ChatControlPro, MobArena isolation works as intended.

[2019-03-26 04:29] mibby opened #525 "Certain mobs de-target players and die if it is not night time."
Paper dev 585 (Spigot 1.13.2)
MobArena v0.103.2-SNAPSHOT (discord test build 02/16/19)

Would it be possible to modify the AI of MobArena mobs at all? Zombies die during the day and spiders become non-aggressive and start climbing walls / get out of reach of the player. The world's difficulty is ``NORMAL``.

I'm able to work around this issue slightly by setting the WorldGuard region with a flagge

[2019-03-28 19:15] Nesseley commented on #523
Please try typing the default class in all lowercase. This fixed the issue for me when testing.

[2019-03-29 21:54] mibby commented on #523
The default class in lowercase even though it is capitalized in the actual classes config section? 😕 Weird, I'll give it a test later tonight.

[2019-03-29 21:58] Nesseley commented on #523
mobarena should be configured all lowercase, it fixes about every problem x)

[2019-03-29 22:21] garbagemule commented on #523
To be fair, it does say so on the wiki :P

[2019-03-30 18:08] kangarko commented on #395
Continuing at https://github.com/kangarko/ChatControl-Pro/issues

[2019-04-01 07:52] mibby commented on #523
Lowercasing the auto-class config option _does_ seem to fix the problem. Good catch!

You can close this ticket unless you want to make it case insensitive. :)

[2019-04-01 08:27] garbagemule commented on #523
Awesome!

[2019-04-01 08:27] #523 closed

[2019-04-06 02:19] eiglow commented on #489
I'm on spigot 1.12.2 and having the same issue as #494. I tried changing it from `golden_apple:1` to `enchanted_golden_apple` but I still get the same error of `Failed to parse item`. I'm not sure how to do something like command rewards for this, as I'm using the golden apples as a class item.

[2019-04-09 22:28] nightdoom2003 opened #526 "Can't join Arena Even Though It's Complete"
I created a new arena, but for some reason it won't let me join the arena under any circumstance.
Whenever I try, it claims that the arena hasn't been set up. But both the config and /ma checkdata and typing "missing" during setup all say that the arena is ready to go.
All arenas in the world have been enabled.
Why is this happening?

[2019-04-09 23:16] garbagemule commented on #526
Please join Discord for support questions :)

[2019-04-09 23:16] #526 closed

[2019-04-10 19:10] Ferocimo commented on #489
@eiglow If you want to use them as class item you have to use class chests. There's no other way on this version.

[2019-04-10 19:22] garbagemule commented on #489
@Ferocimo and @eiglow If you can /give the item, you can put it in the config-file. You don't need to use class chests. The syntax for class items and rewards are the same.

[2019-04-13 02:51] graywolf336 commented on #520
I just ran into this issue and couldn't convert some of my older classes to the new types and potions due to the lack of support for extended and level two potions. Almost do need extra data that says it is extended and is level two. 🤔

[2019-04-13 22:14] graywolf336 commented on #521
My two cents, maybe add the ability to "whitelist" a list of metadata keys to ignore them? I know that's an extremely simplified solution, but it would leave it up to the server administrator to take care and ensure their server is handled. Then by default, we whitelist Citizens...

[2019-04-20 19:24] x0Z3ro0x commented on #521
Just an outsider looking in, but from my own experience, this kind of implementation is a lot of un-needed work. This is just my honest opinion and here is why I think this:

Every time we personally build an arena, we don't make it just some simple box. After all MC is 50% about the builds. Instead we have the arena inside the actual build. Think of it like a Colosseum (which is where we take ins

[2019-04-20 20:14] FireController1847 commented on #524
YES PLEASE!

I've been trying to make a "Pet Master" class, and they start with 3 dogs and very poor items. I want to be able to upgrade them to have more than 3 dogs, such as letting them gain a 4th or 5th dog. @garbagemule

[2019-04-23 09:16] garbagemule commented on #525
This has to be a plugin conflict or a Paper issue. On a completely barebones Spigot setup, zombies and skeletons never catch on fire and spiders attack as expected.

[2019-04-23 09:16] #525 closed

[2019-04-23 10:04] mibby opened #528 "Players are able to join the arena again before it kicks them out on end."
Paper dev 624 (Spigot 1.13.2)
MobArena v0.103.2-SNAPSHOT (discord test build 02/16/19)

Players seem to be able to join the MobArena again while in a spectate state before the arena ends and kicks everyone out to their old location when joining from death spectate state.

i.e. - Player joins MA, loses, gets kicked to spectate death location, then joins MA again from within spectate before it kicks

[2019-04-23 11:13] garbagemule commented on #528
Okay, I'm gonna need some clarification, because I don't understand what the problem is and what is happening.

- What do you mean by "join the MobArena"? How many arenas are involved? Is it just one? Is it the same one?
- What is that "kicks everyone out"? When does this happen and how? There are two reasons MobArena will "kick" someone out; one is force ending the arena, the other is if the aren

[2019-04-23 11:23] garbagemule commented on #524
I like the idea of upgrades including more than just items. I don't like the idea of "just checking for bones on every wave". It's needlessly clunky, adds to an already heavily overloaded procedure, and it's inflexible in the context of the sessions rework.

Perhaps the idea of "MobArena currency" needs to be explored as a core concept instead. Introducing currency and "shops" as a first-class cit

[2019-04-23 11:43] mibby commented on #528
* Just a singular arena exists. Players join via the command ``/ma j``.
* MobArena should "kick everyone out" back to their old location when the arena ends without any remaining players alive.
* I do not believe anyone is intentionally joining the spectate state. The issue occurrence is when players are brought to spectate on death, then are able to re-join the arena when the arena is in the proc

[2019-04-23 15:23] garbagemule commented on #528
It doesn't. When a player dies, they either auto-leave or auto-spectate, and that depends on the `spectate-on-death` setting. When an arena ends, it just wipes its own state - it doesn't "do anything" to players. When an arena reaches its final wave, if set, it forces a player leave (same as players typing /ma leave) on everyone still in the arena. It doesn't touch the spectators.

This doesn't ma

[2019-04-23 16:01] a-l-e-x-0-6 commented on #519
@garbagemule
i found a fix to this, i wanted to do a fork and replace it but i'm new to Github and i don't know how to properly do it so here is the code:
[code]
this code works fine alone but i haven't tried implementing it with MobArena because i have not installed Maven so i cannot compile MobArena.

it allows fire aspect to works while preventing combustion by daylight

[2019-04-23 19:55] garbagemule commented on #519
@a-l-e-x-0-6 thanks for the contribution! Let's see if we can't get you up and running with the MobArena code base and Maven so you can try it out in the real context :)

[2019-04-24 12:51] a-l-e-x-0-6 commented on #519
@garbagemule i installed maven to compile MobArena and i did some testing,
["https://github.com/garbagemule/MobArena/compare/master...a-l-e-x-0-6:master"](https://github.com/garbagemule/MobArena/compare/master...a-l-e-x-0-6:master)
this works and fix the issue of fire aspect not working in arenas.

[2019-04-26 01:27] FireController1847 commented on #524
@garbagemule Is there any way we could get a quickfix/temporary fix to determine if the upgrade has added bones to the inventory? I don't see how it could be much different from spawning them initially other than having to check every upgrade round. I do like the idea of a future overall core concept, but something that could simply fix this sooner rather than later would be amazing :P

[2019-04-26 07:27] garbagemule commented on #524
@FireController1847 always doing "quick fixes" is what brought the code base into its current state. For every new hacky solution to a problem, the technical debt gets bigger, and the longer the necessary refactoring takes. You don't see how it could be much different because you're not intimate with the code base, but there is a good chance that it's much more involved than you'd imagine, or mayb

[2019-05-11 15:50] PlayMoree opened #530 "Ability for mobs/bosses to wear armor"
#Ability for bosses to wear armor

**Short description**
 Ability to add selected armor to waves/bosses to widen our creativity with bosses.

**Implementation details**
Example would be "Armor: Dimond_Helmet, Diamond_Chestplate" Now when the boss spawns he would be wearing a diamond_helmet and diamond_chestplate, Also "Equiped: Diamond_Sword" so we can give them a knockback weapon

**Additional in

[2019-05-13 22:37] myfbone opened #531 "Pillager is not attacking player"
# Bug report

**Short description**

When I join the arena, pillagers spawned but were not attacking player. Just idling.

**Reproduction steps**
Add waves with pillagers

**Details**

* **MobArena version**: latest
* **Server version**: Spigot 1.14

**Additional info**
I don't know, but I used crossbow during the game

[2019-05-14 01:49] eiglow commented on #530
Having the ability to give items to mobs in general would be quite useful, like making drowned spawn with tridents or skeletons spawn with bows that have specific enchantments.

[2019-05-14 15:25] garbagemule commented on #531
Thanks for the report.

This is likely a problem with Spigot not having implemented the targeting logic yet. Either way it's not something we can do anything about in MobArena. Best bet is to wait for fixes upstream.

[2019-05-14 15:25] #531 closed

[2019-05-14 17:53] andris155 opened #532 "Please add disable no item drops on arena"
# Feature request

**Short description**

Please add disable no item drops on arena

**Implementation details**

Add config option control this.
The no item drop cause item dupe if use /minecraft:give command.

**Additional info**

[2019-05-14 18:16] garbagemule commented on #532
`share-items-in-arena`?

[2019-05-14 18:20] andris155 commented on #532
This setting is true on all arena. But item drop not work on the arena area. Example lobby, spectate location etc...

[2019-05-14 18:57] garbagemule commented on #532
I don't understand what you mean. There's zero context in your description. What does /minecraft:give have to do with anything? When are you typing it and why? What do you mean by item dupe?

[2019-05-14 19:27] andris155 commented on #532
Players use shop on the mobarena area. The shop use /minecraft:give commands. The /minecraft:give command dupe items if player stand item drops protected area.

[2019-05-15 07:01] SaitDev commented on #532
This is a known issue, but not from mob arena https://hub.spigotmc.org/jira/browse/SPIGOT-2942
You can use https://www.spigotmc.org/resources/essentialsx.9089/ with command `/essentials:give`
probably disable essential's commands from player if you dont want them

[2019-05-15 11:45] andris155 commented on #532
The EssentialsX give not support Attributes.

[2019-05-16 03:59] SaitDev commented on #532
yea not support...
can you check if you have any else area protect plugin like world guard or similar?

[2019-05-17 11:53] andris155 commented on #532
Yes, arenas protected with the WorldGaurd.
And same problem if enabled nodrop flag.

[2019-05-24 19:09] Fr0sto opened #533 "Custom Bosses"
# Feature request

**Short description**

Server owners should have a way to use custom bosses from other plugins, like Boss (by Kangarko), MythicMobs, EpicBosses (by Songoda, available at songoda.com), etc. This would make boss waves and even other types of waves MUCH more customizable and interesting.

**Implementation details**

When configuring your waves, you would just insert a custom mob by

[2019-05-26 22:17] YuiHirasawa opened #534 "Per player cooldowns on arena"
# Feature request

**Short description**

Cooldowns on how often a player can enter the arena so they cant spam it for rewards

**Implementation details**

Maybe a True/False like
player-cooldown: true/false
player-cooldown-time: 500 (seconds, minutes ect.)
start-cooldown-on-join: true/false
start-cooldown-after-wave: #
start-cooldown-on-leave: true/false

Maybe a vip section as well
vip-cooldown-

[2019-05-27 02:06] SaitDev commented on #532
Unfortunately, since this is an issus exists in spigot itself, we dont have much thing to fix it ourself.
For me Im using denizen plugin so Im glad to use it to write custom script that give player items with attributes. https://www.spigotmc.org/resources/denizen.21039/
If you dont wanna use denizen, hope u can find another solution

[2019-05-28 07:43] garbagemule commented on #534
I feel like this is something a generic cooldown-plugin could solve. Is there any reason to reinvent the wheel?

[2019-05-28 09:54] YuiHirasawa commented on #534
Having built in support for it might work better im pretty sure a "generic cooldown-plugin" wouldn't allow me to set cooldowns after a set wave or have any other options than to run a cooldown after the join command was run.

[2019-05-31 13:57] garbagemule commented on #534
I still think actual cooldowns are an odd construct for something like a minigame. It feels more like a knee-jerk reaction to a sub-par arena setup or a different throttling construct than something that's inherently useful as-is for a server. I'd like to prod a bit at the motivation to see what else we can come up with before we dive head-first into implementing cooldowns, and I'd also like to ta

[2019-06-01 08:31] Klawdek opened #535 "Signs don't work after upgrading and cannot find info for class signs"
# Documentation

**Description**

After upgrading my server from 1.12.2 to 1.13.2 and Mob Arena from 0.103 to 0.103.2 all signs stopped working.  Deleting and redoing them seems to work.  However I was unable to find any info on how to do the class picking signs and I don't remember how it was done.

Please put the info for how to make class signs I have tried a bunch of things and cannot get it t

[2019-06-01 08:35] Nesseley commented on #535
The class picking signs is the name of the class on the top line of the sign, please join the discord for more support :)

[2019-06-01 08:56] Klawdek commented on #535
Thank you I finally figured that out.  It wasn't working at first but after a few config reloads and enabling and disable mobarena the class signs I had and the new one I had made started working. Thank you for your response.

[2019-06-02 06:50] Nesseley opened #536 "1.14.2 - Leaderboards broken"
# Bug report

**Short description**
When starting the arena, leaderboards sends an error.

**Reproduction steps**
1. Set up the signs, it will look like it works. "Leaderboard made. Now set up the stat signs!" "Stat sign created."
2. Join the arena, pick a class, start the arena.
3. It should now throw the error and not update the leaderboards.

**Details**
* **MobArena version**: 0.103.2
* **Serv

[2019-06-02 09:35] Nesseley commented on #536
Adding this here as it is kinda a same error.

Error when trying to choose class `Tester` by clicking the sign.
https://pastebin.com/eZVL4s2Y

The signs connected to a classchest works, but normal config-classes don't work.

[2019-06-07 07:58] Betarabbit14 commented on #411
Not sure if I'm digging up a grave, but how's this idea going so far..?

[2019-06-07 22:29] garbagemule commented on #411
There has been no development on this issue, but the spectator functionality is relevant to the Sessions rework.

[2019-06-08 08:39] garbagemule commented on #535
It's right here :)

https://github.com/garbagemule/MobArena/wiki/Arena-Setup#building-an-arena

[2019-06-08 08:39] #535 closed

[2019-06-08 08:41] garbagemule commented on #533
This is possible via Sait's extension plugin: https://github.com/SaitDev/MobArenaExtension

[2019-06-08 08:41] #533 closed

[2019-06-08 08:43] garbagemule commented on #532
Let's hope md_5 takes the issue a bit more seriously so it can be fixed at the source rather than having to come up with random workarounds in every plugin that blocks a drop event.

[2019-06-08 08:43] #532 closed

[2019-06-08 08:48] garbagemule commented on #530
Duplicate of https://github.com/garbagemule/MobArena/issues/351

[2019-06-08 08:48] #530 closed

[2019-06-08 09:07] garbagemule commented on #520
@El-pika thanks for the source and more info.

I would hate to introduce stuff like `{extended:true}` or something like that in the MobArena syntax, mostly because it doesn't really match the rest of the syntax.

Because the potions space isn't as large as I thought it was (Mojang seemed very proud of the idea of "hundreds or thousands of different possibilities" when they announced potions back i